{
  "swagger": "2.0",
  "info": {
    "version": "1.8.0",
    "title": "Finicity APIs",
    "description": "OpenAPI specification for Finicity APIs\n\n![](https://raw.githubusercontent.com/Mastercard/finicity-openapi/main/res/logo.png)",
    "contact": {
      "email": "business.development@finicity.com",
      "name": "Finicity",
      "url": "https://www.finicity.com/contact/"
    }
  },
  "host": "api.finicity.com",
  "basePath": "/",
  "securityDefinitions": {
    "FinicityAppKey": {
      "type": "apiKey",
      "description": "The \"Finicity-App-Key\" from the developer dashboard",
      "name": "Finicity-App-Key",
      "in": "header"
    },
    "FinicityAppToken": {
      "type": "apiKey",
      "description": "A token returned by the `/authentication` API",
      "name": "Finicity-App-Token",
      "in": "header"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/aggregation/v1/customers/{customerId}/institutionLogins/{institutionLoginId}/accounts": {
      "get": {
        "description": "Get all accounts associated with the given institution login. All accounts returned are accessible by a single set of credentials on a single institution.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GetCustomerAccountsByInstitutionLogin",
        "tags": [
          "Accounts"
        ],
        "operationId": "GetCustomerAccountsByInstitutionLogin",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "institutionLoginId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The institution login ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The account list was successfully retrieved",
            "schema": {
              "$ref": "#/definitions/CustomerAccounts"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      },
      "post": {
        "description": "Refresh account and transaction data for all accounts associated with a given `institutionLoginId` with a connection to the institution.\n\nClient apps are not permitted to automate calls to the Refresh services. Active accounts are automatically refreshed by Finicity once per day. Because many financial institutions only post transactions once per day, calling Refresh repeatedly is usually a waste of resources and is not recommended.\n\nApps may call Refresh services for a specific customer when there is a specific business case for the need of data that is up to date as of the moment. Please discuss with your account manager and systems engineer for further clarification.\n\nThe recommended timeout setting for this request is 120 seconds in order to receive a response. However, you can terminate the connection after making the call the operation will still complete. You will have to pull the account records to check for an updated aggregation attempt date to know when the refresh is complete.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "RefreshCustomerAccountsByInstitutionLogin",
        "tags": [
          "Accounts"
        ],
        "operationId": "RefreshCustomerAccountsByInstitutionLogin",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "institutionLoginId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The institution login ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "No payload expected",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "The account list was successfully refreshed",
            "schema": {
              "$ref": "#/definitions/CustomerAccounts"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/aggregation/v1/customers/{customerId}/institutionLogins/{institutionLoginId}": {
      "delete": {
        "description": "Remove from Finicity aggregation the set of accounts matching the institution login ID.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "DeleteCustomerAccountsByInstitutionLogin",
        "tags": [
          "Accounts"
        ],
        "operationId": "DeleteCustomerAccountsByInstitutionLogin",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "institutionLoginId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The institution login ID"
          }
        ],
        "responses": {
          "204": {
            "description": "The customer accounts were successfully deleted",
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/aggregation/v2/customers/{customerId}/accounts/{accountId}": {
      "get": {
        "description": "Get a customer account by ID.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GetCustomerAccount",
        "tags": [
          "Accounts"
        ],
        "operationId": "GetCustomerAccount",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The account was successfully retrieved",
            "schema": {
              "$ref": "#/definitions/CustomerAccount"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/aggregation/v1/customers/{customerId}/accounts/{accountId}": {
      "delete": {
        "description": "Remove the given account from Finicity aggregation.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "DeleteCustomerAccount",
        "tags": [
          "Accounts"
        ],
        "operationId": "DeleteCustomerAccount",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          }
        ],
        "responses": {
          "204": {
            "description": "The customer account was successfully deleted",
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/aggregation/v1/customers/{customerId}/accounts": {
      "get": {
        "description": "Get all accounts owned by the given customer.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GetCustomerAccounts",
        "tags": [
          "Accounts"
        ],
        "operationId": "GetCustomerAccounts",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A filter to fetch account in the given status"
          }
        ],
        "responses": {
          "200": {
            "description": "The account list was successfully retrieved",
            "schema": {
              "$ref": "#/definitions/CustomerAccounts"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      },
      "post": {
        "description": "Refresh account and transaction data for all accounts associated with the  given `customerId` with a connection to the institution.\n\nClient apps are not permitted to automate calls to the Refresh services. Active accounts are automatically refreshed by Finicity once per day. Because many financial institutions only post transactions once per day, calling Refresh repeatedly is usually a waste of resources and is not recommended.\n\nApps may call Refresh services for a specific customer when there is a specific business case for the need of data that is up to date as of the moment. Please discuss with your account manager and systems engineer for further clarification.\n\nThe recommended timeout setting for this request is 120 seconds in order to receive a response. However, you can terminate the connection after making the call the operation will still complete. You will have to pull the account records to check for an updated aggregation attempt date to know when the refresh is complete.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "RefreshCustomerAccounts",
        "tags": [
          "Accounts"
        ],
        "operationId": "RefreshCustomerAccounts",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "No payload expected",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "The account list was successfully refreshed",
            "schema": {
              "$ref": "#/definitions/CustomerAccounts"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/aggregation/v1/customers/{customerId}/institutions/{institutionId}/accounts": {
      "get": {
        "description": "Get all active accounts owned by the given customer at the given institution.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GetCustomerAccountsByInstitution",
        "tags": [
          "Accounts"
        ],
        "operationId": "GetCustomerAccountsByInstitution",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "institutionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The institution ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The account list was successfully retrieved",
            "schema": {
              "$ref": "#/definitions/CustomerAccounts"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/analytics/ca360/v1/customers/{customerId}/analytics": {
      "post": {
        "description": "Generate a Consumer Attributes report for the given customer. The \"to\" and \"from\" date range is the last 12 months of consumer data, based on the date at which the report was generated.\n\nAn analytic ID is created and associated with the customer's ID. If you generate multiple Consumer Attributes reports for the same customer, then each report will have its own analytic ID.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GenerateConsumerAttributes",
        "tags": [
          "Analytics and Attributes"
        ],
        "operationId": "GenerateConsumerAttributes",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsumerAttributeAccountIDs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Consumer Attributes report was successfully generated",
            "schema": {
              "$ref": "#/definitions/ConsumerAttributesAnalyticId"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      },
      "get": {
        "description": "Retrieve a list of all analytic IDs previously created for a customer using the Generate Consumer Attributes APIs.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "ListConsumerAttributes",
        "tags": [
          "Analytics and Attributes"
        ],
        "operationId": "ListConsumerAttributes",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Attributes IDs were successfully retrieved",
            "schema": {
              "$ref": "#/definitions/ConsumerAttributeList"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/analytics/ca360/v1/customers/{customerId}/analytics/fcra": {
      "post": {
        "description": "_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GenerateFCRAConsumerAttributes",
        "tags": [
          "Analytics and Attributes"
        ],
        "operationId": "GenerateFCRAConsumerAttributes",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConsumerAttributeAccountIDs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Consumer Attributes report was successfully generated",
            "schema": {
              "$ref": "#/definitions/ConsumerAttributesAnalyticId"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/analytics/ca360/v1/customers/{customerId}/analytics/{analyticsId}": {
      "get": {
        "description": "Retrieve a Consumer Attributes report for a customer.\n\nUse the analytic and customer IDs to retrieve 12 months of data attributes according to the \"to\" and \"from\" date range of the report at the time it was created. \n\nIf the current date is before the end of the calendar month, then the most recent month provides all available data up to the current date.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GetConsumerAttributesByID",
        "tags": [
          "Analytics and Attributes"
        ],
        "operationId": "GetConsumerAttributesByID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "analyticsId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The analytic ID"
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The Consumer Attributes report was successfully retrieved",
            "schema": {
              "$ref": "#/definitions/ConsumerAttributes"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/analytics/ca360/v1/customers/{customerId}/analytics/{analyticsId}/fcra": {
      "get": {
        "description": "Retrieve a FCRA Consumer Attributes report for a customer.\n\nUse the analytic and customer IDs to retrieve 12 months of FCRA data attributes according to the `To` and `From` date range of the report at the time it was created. \n\nIf the current date is before the end of the calendar month, then the most recent month provides all available data up to the current date.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GetFCRAConsumerAttributesByID",
        "tags": [
          "Analytics and Attributes"
        ],
        "operationId": "GetFCRAConsumerAttributesByID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "analyticsId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The analytic ID"
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "purpose",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "2-digit code from [Permissible Purpose Codes](https://docs.finicity.com/permissible-purpose-codes/), specifying the reason for retrieving this report. Required for retrieving some reports."
          }
        ],
        "responses": {
          "200": {
            "description": "The Consumer Attributes report was successfully retrieved",
            "schema": {
              "$ref": "#/definitions/ConsumerAttributes"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/aggregation/v1/partners/applications": {
      "post": {
        "description": "Register a new application to access financial institutions using OAuth connections.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "RegisterApp",
        "tags": [
          "App Registration"
        ],
        "operationId": "RegisterApp",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The app registration was successfully created",
            "schema": {
              "$ref": "#/definitions/RegisteredApplication"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/aggregation/v1/partners/applications/{preAppId}": {
      "put": {
        "description": "Update a registered application.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "ModifyAppRegistration",
        "tags": [
          "App Registration"
        ],
        "operationId": "ModifyAppRegistration",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "preAppId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The application registration tracking ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The app registration was updated",
            "schema": {
              "$ref": "#/definitions/RegisteredApplication"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/aggregation/v2/partners/applications": {
      "get": {
        "description": "Get the status of your application registration(s).\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GetAppRegistrationStatus",
        "tags": [
          "App Registration"
        ],
        "operationId": "GetAppRegistrationStatus",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "preAppId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The application registration tracking ID"
          },
          {
            "name": "applicationId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The application ID"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Look up app registration requests by status"
          },
          {
            "name": "appName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Look up app registration requests by app name"
          },
          {
            "name": "submittedDate",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "Look up app registration requests by the date they were submitted"
          },
          {
            "name": "modifiedDate",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "Look up app registration requests by the date the request was updated. This can be used to determine when a request was updated to \"A\" or \"R\"."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Index of the page of results to return"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "The app registration statuses were returned",
            "schema": {
              "$ref": "#/definitions/AppStatuses"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/aggregation/v1/customers/{customerId}/applications/{applicationId}": {
      "put": {
        "description": "If you have multiple applications for a single client, and you want to register their applications to access financial institutions using OAuth connections, then use this API to assign applications to an existing customer.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "SetCustomerAppID",
        "tags": [
          "App Registration"
        ],
        "operationId": "SetCustomerAppID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The application ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "No payload expected",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "The app was successfully assigned",
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/aggregation/v2/customers/{customerId}/institutionLogins/{institutionLoginId}/migration": {
      "put": {
        "description": "The `institutionLoginId` parameter uses Finicity's internal FI mapping to move accounts from the current FI legacy connection to the new OAuth FI connection.\n\nThis API returns a list of accounts for the given institution login ID.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "MigrateInstitutionLoginAccounts",
        "tags": [
          "App Registration"
        ],
        "operationId": "MigrateInstitutionLoginAccounts",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "institutionLoginId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The institution login ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "No payload expected",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "The migration succeeded",
            "schema": {
              "$ref": "#/definitions/CustomerAccounts"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/aggregation/v1/customers/{customerId}/assets/{assetId}": {
      "get": {
        "description": "Retrieve a binary file for the given asset ID.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GetAssetByCustomerID",
        "tags": [
          "Assets"
        ],
        "operationId": "GetAssetByCustomerID",
        "deprecated": false,
        "produces": [
          "application/octet-stream",
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The asset ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The asset was successfully downloaded",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/aggregation/v2/partners/authentication": {
      "post": {
        "description": "Send Partner ID and Partner Secret to the Partner Authentication service to obtain a token for accessing Finicity APIs.\n* The token is valid for two hours and is required on all calls to the Finicity APIs\n* As a best practice, use a single token for all calls. Assign a timestamp for each token, and then check the current timestamp before making any calls. If the token is greater than 90 minutes, generate a new one.\n* ⚠️ After five failed attempts to authenticate, your account will be locked. Contact [support@finicity.com](mailto:support@finicity.com) to get help resetting your account.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "CreateToken",
        "tags": [
          "Authentication"
        ],
        "operationId": "CreateToken",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PartnerCredentials"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The access token was successfully created",
            "schema": {
              "$ref": "#/definitions/AccessToken"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check Partner ID, Partner Secret or Finicity-App-Key.",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "FinicityAppKey": []
          }
        ]
      },
      "put": {
        "description": "Change the Partner Secret used to authenticate this partner.\n\nThe secret does not expire, but can be changed by calling this API. A valid Partner Secret may contain upper and lowercase characters, numbers, and the characters !, @, #, $, %, &, *, _, -, +. It must include at least one number and at least one letter, and its length should be between 12 and 255 characters.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "ModifyPartnerSecret",
        "tags": [
          "Authentication"
        ],
        "operationId": "ModifyPartnerSecret",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PartnerCredentialsWithNewSecret"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The Partner Secret was successfully updated",
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check Partner ID, Partner Secret or Finicity-App-Key.",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "FinicityAppKey": []
          }
        ]
      }
    },
    "/analytics/balance/v1/customer/{customerId}": {
      "post": {
        "description": "Balance Analytics for Business analyzes bank balances over time to report metrics and identify behavior that may indicate risk.\n\nCalculated metrics include:\n* Current/available account balances\n* Minimum/maximum/average account balances over the requested time\n  period and broken down by month\n\n* Daily ending balance of accounts for each day in the requested time\n  period\n\n* Propensity of the customer's account balances to increase week over\n  week\n\n* Number of days in the requested time period ending with a negative\n  balance\n\n\nThis version of the API is intended for piloting and integration testing your application with the Balance Analytics product. It does not adhere to FCRA requirements, and should not be used for production/lending purposes. See _Generate Balance Analytics - FCRA_ for the FCRA compliant version of this API.\n\nA successful call to this API will generate analytics and store a report within Finicity. The report can be retrieved via _Get Balance Analytics Report_ (operation: _GetObbAnalyticsReport_).\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GenerateBalanceAnalytics",
        "tags": [
          "Balance Analytics"
        ],
        "operationId": "GenerateBalanceAnalytics",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceAndCashFlowAnalyticsReportConstraints"
            }
          },
          {
            "name": "reference-number",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Partner-provided reference number to correlate reports."
          }
        ],
        "responses": {
          "200": {
            "description": "Response given when balance analytics were generated successfully, providing the caller with a report ID which can be used to retrieve the report as JSON or a PDF.",
            "schema": {
              "$ref": "#/definitions/BalanceAndCashFlowAnalyticsReportAck"
            },
            "examples": {
              "application/json": {
                "accountIds": [
                  10001,
                  10002,
                  10003
                ],
                "businessId": 123,
                "createdDate": "2022-02-10T05:00:00-07:00",
                "customerId": 10001,
                "reportId": "145cabe0-2b38-4175-9b7e-115431359839",
                "reportPin": "qert",
                "requesterName": "Mortage ABC LLC",
                "title": "Finicity Balance Analytics"
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A bad request was provided",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 400,
                "message": "Missing required parameter 'customerId'"
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 401,
                "message": "Invalid Finicity-App-Key"
              }
            },
            "headers": {}
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 403,
                "message": "Partner does not have access to this resource"
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 404,
                "message": "Customer not found"
              }
            },
            "headers": {}
          },
          "409": {
            "description": "Resource conflict",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 409,
                "message": "Customer is not registered as a business"
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/analytics/balance/v1/customer/{customerId}/fcra": {
      "post": {
        "description": "Balance Analytics for Business analyzes bank balances over time to report metrics and identify behavior that may indicate risk.\n\nCalculated metrics include:\n* Current/available account balances\n* Minimum/maximum/average account balances over the requested time\n  period and broken down by month\n\n* Daily ending balance of accounts for each day in the requested time\n  period\n\n* Propensity of the customer's account balances to increase week over\n  week\n\n* Number of days in the requested time period ending with a negative\n  balance\n\n\nThis version of the API is intended for production use. It maintains and enforces all compliance with FCRA rules and requirements.\n\n*Note:* this is a premium service, billable per every successful API call for non-testing customers.\n\nA successful call to this API will generate analytics and store a report within Finicity. The report can be retrieved via _Get Balance Analytics Report - FCRA_ (operation: _GetObbAnalyticsReportFCRA_).\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GenerateBalanceAnalyticsFcra",
        "tags": [
          "Balance Analytics"
        ],
        "operationId": "GenerateBalanceAnalyticsFcra",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceAndCashFlowAnalyticsReportConstraints"
            }
          },
          {
            "name": "reference-number",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Partner-provided reference number to correlate reports."
          }
        ],
        "responses": {
          "200": {
            "description": "Response given when balance analytics (FCRA) were generated successfully, providing the caller with a report ID which can be used to retrieve the report as JSON or a PDF.",
            "schema": {
              "$ref": "#/definitions/BalanceAndCashFlowAnalyticsReportAck"
            },
            "examples": {
              "application/json": {
                "accountIds": [
                  10001,
                  10002,
                  10003
                ],
                "businessId": 123,
                "createdDate": "2022-02-10T05:00:00-07:00",
                "customerId": 10001,
                "reportId": "145cabe0-2b38-4175-9b7e-115431359839",
                "reportPin": "qert",
                "requesterName": "Mortage ABC LLC",
                "title": "Finicity Balance Analytics"
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A bad request was provided",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 400,
                "message": "Missing required parameter 'customerId'"
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 401,
                "message": "Invalid Finicity-App-Key"
              }
            },
            "headers": {}
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 403,
                "message": "Partner does not have access to this resource"
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 404,
                "message": "Customer not found"
              }
            },
            "headers": {}
          },
          "409": {
            "description": "Resource conflict",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 409,
                "message": "Customer is not registered as a business"
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/analytics/data/v1/{obb_report_id}": {
      "get": {
        "description": "Retrieve the report saved by _Generate Balance Analytics_ or _Generate Cash Flow Analytics_. Requires the report ID generated by the previous call.\n\nReport data can either be retrieved as a JSON document or PDF file.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GetObbAnalyticsReport",
        "tags": [
          "Balance Analytics",
          "Cash Flow Analytics"
        ],
        "operationId": "GetObbAnalyticsReport",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "obb_report_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Report ID generated and returned by OBB products"
          }
        ],
        "responses": {
          "200": {
            "description": "OBB Analytics report data as JSON or PDF",
            "schema": {
              "$ref": "#/definitions/GetObbAnalyticsReportResponse"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/analytics/data/v1/{obb_report_id}/fcra": {
      "get": {
        "description": "Retrieve the report saved by _Generate Balance Analytics - FCRA_ or _Generate Cash Flow Analytics - FCRA_. Requires the report ID generated by the previous call.\n\nReport data can either be retrieved as a JSON document or PDF file.\n\n*Note:* this is a premium service, billable per every successful API call for non-testing customers.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GetObbAnalyticsReportFcra",
        "tags": [
          "Balance Analytics",
          "Cash Flow Analytics"
        ],
        "operationId": "GetObbAnalyticsReportFcra",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "obb_report_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Report ID generated and returned by OBB products"
          },
          {
            "name": "purpose",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "2-digit code from [Permissible Purpose Codes](https://docs.finicity.com/permissible-purpose-codes/), specifying the reason for retrieving this report. Required for retrieving some reports."
          }
        ],
        "responses": {
          "200": {
            "description": "OBB Analytics FCRA report data as JSON or PDF",
            "schema": {
              "$ref": "#/definitions/GetObbAnalyticsReportFcraResponse"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/aggregation/v1/customers/{customerId}/accounts/{accountId}/statement": {
      "get": {
        "description": "Retrieve the customer's bank statements in PDF format. Up to 24 months of history is available depending on the financial institution. Since this is a premium service, charges incur per each successful statement retrieved. \n\nFor certified financial institutions, statements are available for the following account types:\n* Checking\n* Savings\n* Money market\n* CDs\n* Investments\n* Mortgage\n* Credit cards\n* Loans\n* Line of credit\n* Student Loans\n\nNote: setting the timeout to 180 seconds is recommended to allow enough time for a response.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GetCustomerAccountStatement",
        "tags": [
          "Bank Statements"
        ],
        "operationId": "GetCustomerAccountStatement",
        "deprecated": false,
        "produces": [
          "application/octet-stream",
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          },
          {
            "name": "index",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "maximum": 24.0,
            "exclusiveMaximum": false,
            "description": "Request statements from 1-24. By default, 1 is the most recent statement. Increase the index value to count back (by month) and retrieve its most recent statement."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The type of statement to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "The statement was successfully downloaded as a PDF file",
            "schema": {
              "type": "string",
              "default": "",
              "format": "binary"
            },
            "headers": {}
          },
          "203": {
            "description": "The response contains an MFA challenge in XML or JSON format. Contact your Account Manager or Systems Engineers to determine the best route to handle this error.",
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/decisioning/v2/customers/{customerId}/statement": {
      "post": {
        "description": "Generate a Statement Report report for the given accounts under the given customer.\n\nThis is a premium service. A billable event will be created upon the successful generation of the Statement Report. \n\nBefore calling this API, a consumer must be created for the given customer ID (see Consumers APIs).\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GenerateStatementReport",
        "tags": [
          "Bank Statements"
        ],
        "operationId": "GenerateStatementReport",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/StatementReportConstraints"
            }
          },
          {
            "name": "callbackUrl",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A Report Listener URL to receive notifications. The webhook must respond to the Finicity API with a 2xx HTTP status code."
          }
        ],
        "responses": {
          "202": {
            "description": "The report is being generated. When finished, a notification will be sent to the specified callback URL (Report Listener Service) and the report can be fetched using Get Report APIs. If you don't use a callback URL, Get Report returns a minimal report with the following status: 'inProgress'. Repeat the call every 20 seconds until Get Report returns a different status.",
            "schema": {
              "$ref": "#/definitions/StatementReportAck"
            },
            "examples": {
              "application/json": {
                "id": "38dknche83oh-statement",
                "portfolioId": "sy7aa68w2ugx-1-port",
                "customerType": "active",
                "customerId": 1010560999,
                "requestId": "ny7x32stfq",
                "requesterName": "Demo",
                "createdDate": 1596226182,
                "title": "Finicity Statement Report",
                "consumerId": "555595ec74c8ec57adf44dadddb6a35",
                "consumerSsn": "1234",
                "constraints": {
                  "statementReportData": {
                    "accountId": 1000076901,
                    "index": 1
                  },
                  "reportCustomFields": [
                    {
                      "label": "loanID",
                      "value": "123456",
                      "shown": true
                    }
                  ]
                },
                "type": "statement",
                "status": "inProgress"
              }
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/decisioning/v2/customers/{customerId}/cashFlowBusiness": {
      "post": {
        "description": "Generate a Cash Flow Report (Business) report for all checking and savings under the given customer. This service retrieves up to two years of transaction history for the given account. It then uses this information to generate the CFR report. A consumer is not required to generate this report.\n\nThis report is not provided under FCRA rules, and this report is not available in the Finicity Consumer Portal for the borrower to view.\n\nIf no account type of checking or savings is found, the service will return HTTP 400 Bad Request.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GenerateCashFlowBusinessReport",
        "tags": [
          "Cash Flow"
        ],
        "operationId": "GenerateCashFlowBusinessReport",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CashFlowReportConstraints"
            }
          },
          {
            "name": "callbackUrl",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A Report Listener URL to receive notifications. The webhook must respond to the Finicity API with a 2xx HTTP status code."
          }
        ],
        "responses": {
          "202": {
            "description": "The report is being generated. When finished, a notification will be sent to the specified callback URL (Report Listener Service) and the report can be fetched using Get Report APIs. If you don't use a callback URL, Get Report returns a minimal report with the following status: 'inProgress'. Repeat the call every 20 seconds until Get Report returns a different status.",
            "schema": {
              "$ref": "#/definitions/CashFlowReportAck"
            },
            "examples": {
              "application/json": {
                "id": "383z55zudewm-cfrb",
                "customerType": "active",
                "customerId": 1275320,
                "requestId": "7a7qyps2iy",
                "requesterName": "Decisioning API",
                "createdDate": 1579819592,
                "title": "Finicity Cash Flow Report - Business",
                "consumerId": "3f7ff2cf0ffb3d0cd59875e070c9b1d4",
                "consumerSsn": "1234",
                "constraints": {
                  "accountIds": [
                    "1000535275"
                  ],
                  "reportCustomFields": [
                    {
                      "label": "loanID",
                      "value": "12345",
                      "shown": true
                    },
                    {
                      "label": "trackingID",
                      "value": "5555",
                      "shown": true
                    },
                    {
                      "label": "loanType",
                      "value": "car",
                      "shown": false
                    },
                    {
                      "label": "vendorID",
                      "value": "1613aa23",
                      "shown": true
                    },
                    {
                      "label": "vendorName",
                      "value": "PSC Finance",
                      "shown": false
                    }
                  ]
                },
                "type": "cfrb",
                "status": "inProgress"
              }
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/decisioning/v2/customers/{customerId}/cashFlowPersonal": {
      "post": {
        "description": "Generate a Cash Flow Report (Personal) report for all checking and savings under the given customer. This service retrieves up to two years of transaction history for the given account. It then uses this information to generate the CFR report.\n\nThis report is provided under FCRA rules, with Finicity acting as the CRA (Consumer Reporting Agency). If an individual account is included in the report - for example, with an individual acting as an personal guarantor on the loan - then this version of the report should be used. In case of an adverse action on the loan where the decision was based on this report, then the borrower can be referred to the [Finicity Consumer Portal](https://consumer.finicityreports.com) where they can view this report and submit a dispute if they feel any information in this report is inaccurate.\n\nBefore calling this API, a consumer must be created for the given customer ID (see Consumers APIs).\n\nIf no account type of checking or savings is found, the service will return HTTP 400 Bad Request.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GenerateCashFlowPersonalReport",
        "tags": [
          "Cash Flow"
        ],
        "operationId": "GenerateCashFlowPersonalReport",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CashFlowReportConstraints"
            }
          },
          {
            "name": "callbackUrl",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A Report Listener URL to receive notifications. The webhook must respond to the Finicity API with a 2xx HTTP status code."
          }
        ],
        "responses": {
          "202": {
            "description": "The report is being generated. When finished, a notification will be sent to the specified callback URL (Report Listener Service) and the report can be fetched using Get Report APIs. If you don't use a callback URL, Get Report returns a minimal report with the following status: 'inProgress'. Repeat the call every 20 seconds until Get Report returns a different status.",
            "schema": {
              "$ref": "#/definitions/CashFlowReportAck"
            },
            "examples": {
              "application/json": {
                "id": "383z51zurqwo-cfrp",
                "customerType": "active",
                "customerId": 1275320,
                "requestId": "7a7qyps2iy",
                "requesterName": "Decisioning API",
                "createdDate": 1579819592,
                "title": "Finicity Cash Flow Report - Personal",
                "consumerId": "3f7ff2cf0ffb3d0cd59875e070c9b1d4",
                "consumerSsn": "1234",
                "constraints": {
                  "accountIds": [
                    "1000535275"
                  ],
                  "reportCustomFields": [
                    {
                      "label": "loanID",
                      "value": "12345",
                      "shown": true
                    },
                    {
                      "label": "trackingID",
                      "value": "5555",
                      "shown": true
                    },
                    {
                      "label": "loanType",
                      "value": "car",
                      "shown": false
                    },
                    {
                      "label": "vendorID",
                      "value": "1613aa23",
                      "shown": true
                    },
                    {
                      "label": "vendorName",
                      "value": "PSC Finance",
                      "shown": false
                    }
                  ]
                },
                "type": "cfrp",
                "status": "inProgress"
              }
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/analytics/cashflow/v1/customer/{customerId}": {
      "post": {
        "description": "Cash Flow Analytics for Business analyzes cash flow over time to report metrics and identify behavior that may indicate risk.\n\nCalculated metrics include:\n* Average transaction value by month over the requested time period\n* Net cash flow over the requested time period and broken down by month\n* Count and report of weeks in the requested time period where there\n  were zero transactions posted to the customer's accounts\n\n* Minimum/maximum/average/sum/count of deposits by month\n* Minimum/maximum/average/sum/count of withdrawals by month\n* Estimated amount of deposits that can be classified as business\n  revenue\n\n* Number of transactions posted incurring a non-sufficient funds (NSF)\n  fee, and net amount charged in NSF fees\n\n\nThis version of the API is intended for piloting and integration testing your application with the Cash Flow Analytics product. It does not adhere to FCRA requirements, and should not be used for production/lending purposes. See _Generate Cash Flow Analytics - FCRA_ for the FCRA compliant version of this API.\n\nA successful call to this API will generate analytics and store a report within Finicity. The report can be retrieved via _Get Cash Flow Analytics Report_ (operation: _GetCashFlowAnalyticsReport_).\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GenerateCashFlowAnalytics",
        "tags": [
          "Cash Flow Analytics"
        ],
        "operationId": "GenerateCashFlowAnalytics",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceAndCashFlowAnalyticsReportConstraints"
            }
          },
          {
            "name": "reference-number",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Partner-provided reference number to correlate reports."
          }
        ],
        "responses": {
          "200": {
            "description": "Response given when cash flow analytics were generated successfully, providing the caller with a report ID which can be used to retrieve the report as JSON or a PDF.",
            "schema": {
              "$ref": "#/definitions/BalanceAndCashFlowAnalyticsReportAck"
            },
            "examples": {
              "application/json": {
                "accountIds": [
                  10001,
                  10002,
                  10003
                ],
                "businessId": 123,
                "createdDate": "2022-02-10T05:00:00-07:00",
                "customerId": 10001,
                "reportId": "145cabe0-2b38-4175-9b7e-115431359839",
                "reportPin": "qert",
                "requesterName": "Mortage ABC LLC",
                "title": "Finicity Cashflow Analytics"
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A bad request was provided",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 400,
                "message": "Missing required parameter 'customerId'"
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 401,
                "message": "Invalid Finicity-App-Key"
              }
            },
            "headers": {}
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 403,
                "message": "Partner does not have access to this resource"
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 404,
                "message": "Customer not found"
              }
            },
            "headers": {}
          },
          "409": {
            "description": "Resource conflict",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 409,
                "message": "Customer is not registered as a business"
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/analytics/cashflow/v1/customer/{customerId}/fcra": {
      "post": {
        "description": "Cash Flow Analytics for Business analyzes cash flow over time to report metrics and identify behavior that may indicate risk.\n\nCalculated metrics include:\n* Average transaction value by month over the requested time period\n* Net cash flow over the requested time period and broken down by month\n* Count and report of weeks in the requested time period where there\n  were zero transactions posted to the customer's accounts\n\n* Minimum/maximum/average/sum/count of deposits by month\n* Minimum/maximum/average/sum/count of withdrawals by month\n* Estimated amount of deposits that can be classified as business\n  revenue\n\n* Number of transactions posted incurring a non-sufficient funds (NSF)\n  fee, and net amount charged in NSF fees\n\n\nThis version of the API is intended for production use. It maintains and enforces all compliance with FCRA rules and requirements.\n\n*Note:* this is a premium service, billable per every successful API call for non-testing customers.\n\nA successful call to this API will generate analytics and store a report within Finicity. The report can be retrieved via _Get Cash Flow Analytics Report - FCRA_ (operation: _GetCashFlowAnalyticsReportFCRA_).\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GenerateCashFlowAnalyticsFcra",
        "tags": [
          "Cash Flow Analytics"
        ],
        "operationId": "GenerateCashFlowAnalyticsFcra",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A customer ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BalanceAndCashFlowAnalyticsReportConstraints"
            }
          },
          {
            "name": "reference-number",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Partner-provided reference number to correlate reports."
          }
        ],
        "responses": {
          "200": {
            "description": "Response given when cash flow analytics (FCRA) were generated successfully, providing the caller with a report ID which can be used to retrieve the report as JSON or a PDF.",
            "schema": {
              "$ref": "#/definitions/BalanceAndCashFlowAnalyticsReportAck"
            },
            "examples": {
              "application/json": {
                "accountIds": [
                  10001,
                  10002,
                  10003
                ],
                "businessId": 123,
                "createdDate": "2022-02-10T05:00:00-07:00",
                "customerId": 10001,
                "reportId": "145cabe0-2b38-4175-9b7e-115431359839",
                "reportPin": "qert",
                "requesterName": "Mortage ABC LLC",
                "title": "Finicity Cashflow Analytics"
              }
            },
            "headers": {}
          },
          "400": {
            "description": "A bad request was provided",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 400,
                "message": "Missing required parameter 'customerId'"
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 401,
                "message": "Invalid Finicity-App-Key"
              }
            },
            "headers": {}
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 403,
                "message": "Partner does not have access to this resource"
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 404,
                "message": "Customer not found"
              }
            },
            "headers": {}
          },
          "409": {
            "description": "Resource conflict",
            "schema": {
              "$ref": "#/definitions/ObbErrorMessage"
            },
            "examples": {
              "application/json": {
                "errorCode": 409,
                "message": "Customer is not registered as a business"
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/connect/v2/generate": {
      "post": {
        "description": "Generate a Connect 2.0 URL link to add within your own applications.\n\nIn option, use the `experience` parameter to call Connect (per session) in the body of the request. Configure the `experience` parameter to change the brand color, logo, icon, which credit decisioning report to generate when the Connect application completes, and more.\n\nNote: contact your Sales Account Team to set up the `experience` parameter.\n\nMVS Developers: You can pre-populate the consumer's SSN on the \"Find employment records\" page at the beginning of the MVS payroll app. Pass the SSN value for the consumer in the body of the request call.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GenerateConnectUrl",
        "tags": [
          "Connect 🔗"
        ],
        "operationId": "GenerateConnectUrl",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConnectParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The URL link was successfully generated",
            "schema": {
              "$ref": "#/definitions/ConnectUrl"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/connect/v2/generate/lite": {
      "post": {
        "description": "Connect Lite is a variation of Connect Full (`POST /connect/v2/generate`), which has a limited set of features.\n* Sign in, user's credentials, and Multi-Factor Authentication (MFA)\n* No user account management\n\nThe Connect Web SDK isn't a requirement when using Connect lite. However, if you want to use the SDK events, routes, and user events, then you must integrate with the Connect Web SDK.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GenerateLiteConnectUrl",
        "tags": [
          "Connect 🔗"
        ],
        "operationId": "GenerateLiteConnectUrl",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LiteConnectParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The URL link was successfully generated",
            "schema": {
              "$ref": "#/definitions/ConnectUrl"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/connect/v2/generate/fix": {
      "post": {
        "description": "Use the Connect Fix API when the following conditions occur:\n* The connection to the user's financial institution is lost\n* The user's credentials were updated (for any number of reasons)\n* The user's MFA challenge has expired\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "GenerateFixConnectUrl",
        "tags": [
          "Connect 🔗"
        ],
        "operationId": "GenerateFixConnectUrl",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/FixConnectParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The URL link was successfully generated",
            "schema": {
              "$ref": "#/definitions/ConnectUrl"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "404": {
            "description": "The resource doesn't exist",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          }
        }
      }
    },
    "/connect/v2/send/email": {
      "post": {
        "description": "Same as Connect Full (`POST /connect/v2/generate`) but send a Connect email to a consumer.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "summary": "SendConnectEmail",
        "tags": [
          "Connect 🔗"
        ],
        "operationId": "SendConnectEmail",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConnectEmailParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The URL link was successfully generated and the email sent",
            "schema": {
              "$ref": "#/definitions/ConnectEmailUrl"
            },
            "headers": {}
          },
          "400": {
            "description": "The request was rejected",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            },
            "headers": {}
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
[...]
