#%RAML 1.0
title: Finicity APIs
version: 1.8.0
baseUri: https://api.finicity.com
baseUriParameters: {}
protocols:
- HTTPS
documentation:
- title: Finicity APIs
  content: |
    OpenAPI specification for Finicity APIs


    ![](https://raw.githubusercontent.com/Mastercard/finicity-openapi/main/res/logo.png)
securitySchemes:
  FinicityAppKey:
    type: Pass Through
    description: The "Finicity-App-Key" from the developer dashboard
    describedBy:
      headers:
        Finicity-App-Key:
          required: true
          displayName: Finicity-App-Key
          description: The "Finicity-App-Key" from the developer dashboard
          type: string
  FinicityAppToken:
    type: Pass Through
    description: A token returned by the `/authentication` API
    describedBy:
      headers:
        Finicity-App-Token:
          required: true
          displayName: Finicity-App-Token
          description: A token returned by the `/authentication` API
          type: string
securedBy:
- FinicityAppKey
- FinicityAppToken
types:
  ErrorMessage:
    displayName: ErrorMessage
    type: object
    properties:
      code:
        required: true
        example:
          value: 10001
        displayName: code
        description: 'An error code (can be returned as a number or a string). Useful links: [API Errors](https://docs.finicity.com/api-errors/), [Aggregation Status Codes](https://docs.finicity.com/aggregation-status-codes/).'
        type: object
        properties: {}
      status:
        required: false
        example:
          value: '401'
        displayName: status
        description: A status code
        type: string
      title:
        required: false
        example:
          value: Connecting accounts error
        displayName: title
        description: A title for the error
        type: string
      level:
        required: false
        example:
          value: error
        displayName: level
        description: An error level
        type: string
      message:
        required: false
        example:
          value: Invalid authorization credentials
        displayName: message
        description: An error message
        type: string
      user_message:
        required: false
        example:
          value: The session has expired or is invalid
        displayName: user_message
        description: Some more details about the error
        type: string
      assetId:
        required: false
        example:
          value: 097545c5-1c2a-4f20-a5ef-77f0820344c9-2018601178
        displayName: assetId
        description: An asset ID. Generated by Connect or by using the Store Customer Pay Statement API.
        type: string
      accountId:
        required: false
        example:
          value: '5011648377'
        displayName: accountId
        description: An account ID
        type: string
  PartnerCredentials:
    displayName: PartnerCredentials
    type: object
    properties:
      partnerId:
        required: true
        example:
          value: '1234583871234'
        displayName: partnerId
        description: Your Partner ID displayed in the [Developer Dashboard](https://developer.finicity.com/admin)
        type: string
      partnerSecret:
        required: true
        example:
          value: aqJ5Ic4SEVx2IgDQ6oR4
        displayName: partnerSecret
        description: Your Partner Secret displayed in the [Developer Dashboard](https://developer.finicity.com/admin)
        type: string
  PartnerCredentialsWithNewSecret:
    displayName: PartnerCredentialsWithNewSecret
    type: object
    properties:
      partnerId:
        required: true
        example:
          value: '1234583871234'
        displayName: partnerId
        description: Your Partner ID displayed in the [Developer Dashboard](https://developer.finicity.com/admin)
        type: string
      partnerSecret:
        required: true
        example:
          value: aqJ5Ic4SEVx2IgDQ6oR4
        displayName: partnerSecret
        description: Your Partner Secret displayed in the [Developer Dashboard](https://developer.finicity.com/admin)
        type: string
      newPartnerSecret:
        required: true
        example:
          value: OrU7tjiA3tIspCgb85xV
        displayName: newPartnerSecret
        description: A new value for the Partner Secret
        type: string
  AccessToken:
    displayName: AccessToken
    description: A temporary access token to be passed in the `Finicity-App-Token` HTTP header of all subsequent API requests
    type: object
    properties:
      token:
        required: true
        example:
          value: YBh22Sb9Es6e66Q7lWdt
        displayName: token
        description: The access token value
        type: string
  ConnectParameters:
    displayName: ConnectParameters
    type: object
    properties:
      language:
        required: false
        example:
          value: fr-CA
        displayName: language
        description: "Generate a translated Connect URL link. \n\nSupported languages: \n* English (default)\n* Spanish (United States): `es`\n* French (Canada): `fr` or `fr-CA`"
        type: string
      partnerId:
        required: true
        example:
          value: '1234583871234'
        displayName: partnerId
        description: Your Partner ID displayed in the [Developer Dashboard](https://developer.finicity.com/admin)
        type: string
      customerId:
        required: true
        example:
          value: '1005061234'
        displayName: customerId
        description: A customer ID. See Add Customer API for how to create a customer ID.
        type: string
      consumerId:
        required: false
        example:
          value: 0bf46322c167b562e6cbed9d40e19a4c
        displayName: consumerId
        description: A consumer ID. See Create Consumer API for how to create a consumer ID.
        type: string
      redirectUri:
        required: false
        example:
          value: https://www.finicity.com/connect/
        displayName: redirectUri
        description: The URL that customers will be redirected to after completing Finicity Connect. Required unless Connect is embedded inside our application (iframe).
        type: string
      webhook:
        required: false
        example:
          value: https://webhook.site/8d4421a7-d1d1-4f01-bb08-5370aff0321b
        displayName: webhook
        description: The publicly available URL you want to be notified with events as the user progresses through the application. See [Connect Webhook Event](https://docs.finicity.com/connect-and-mvs-webhooks/) for event details.
        type: string
      webhookContentType:
        required: false
        default: application/json
        example:
          value: application/json
        displayName: webhookContentType
        description: 'The content type the webhook events will be sent in. Supported types: "application/json" and "application/xml".'
        type: string
      webhookData:
        required: false
        displayName: webhookData
        description: 'Allows additional identifiable information to be inserted into the payload of connect webhook events. See: [Custom Webhooks](https://docs.finicity.com/custom-webhooks/).'
        type: object
        properties: {}
      webhookHeaders:
        required: false
        displayName: webhookHeaders
        description: 'Allows additional identifiable information to be included as headers of connect webhook event. See: [Custom Webhooks](https://docs.finicity.com/custom-webhooks/).'
        type: object
        properties: {}
      optionalConsumerInfo:
        required: false
        displayName: optionalConsumerInfo
        description: The SSN and date of birth of a consumer
        type: ConsumerInfo
      singleUseUrl:
        required: false
        example:
          value: true
        displayName: singleUseUrl
        description: |
          "true": The URL link expires after a Connect session successfully completes.


          Note: when the `singleUseUrl` and the `experience` parameters are passed in the same call, the `singleUseUrl` value overrides the `singleUseUrl` value configured in the `experience` parameter.
        type: boolean
      experience:
        required: false
        example:
          value: default
        displayName: experience
        description: "The `experience` field allows you to customize:\n* Brand: color and logo\n* Icon: displayed on the \"Share your data\" page \n* Popular institutions: displayed on the Bank Search page \n* Report: the credit decisioning report to send when Connect completes. \n* MVS modules: financial, payroll, paystub\n\nNote: the Finicity sales engineers (SE) help you set up a default experience for your company when you migrate to Connect 2.0. For each additional experience you create thereafter, they'll give you a unique ID. See [Generate 2.0 Connect URL APIs](https://docs.finicity.com/migrate-to-connect-web-sdk-2-0/#migrate-connect-web-sdk-1).\n\nExperience values options: \n* \"default\": your default experience (must be defined) \n* GUID: the code for a different experience\n* Not defined: If you don't pass the experience parameter, then Connect's out of the box default experience (add accounts but no branding) is used, and the MVS modules will not run."
        type: string
      institutionSettings:
        required: false
        displayName: institutionSettings
        description: Advanced options for configuration of which institutions to display in. See [Institution Settings](https://docs.finicity.com/connect-institution-settings/).
        type: object
        properties: {}
      fromDate:
        required: false
        example:
          value: 1607450357
        displayName: fromDate
        description: "The `fromDate` parameter is used when experiences are associated with a credit decisioning report and any other reports with transaction data. The value is in epoch time and must be 10 digits. Example: 1494449017. If it's greater than 10 digits, then the `fromDate` is set to the credit decisioning report's default `fromDate`.\n\nFor an experience that generates multiple reports, the `fromDate` gets passed to the reports that support it.\n\nHowever, Connect doesn't pass this parameter to the following reports:\n* Pay Statement Extraction Report \n* VOIE - Paystub (with TXVerify) Report \n* Statement Report \n* Verification of Income Report \n* VOIE - Payroll Report \n\nNote: this field isn't used if you're only collecting transaction data without a report."
        type: integer
        format: int64
      reportCustomFields:
        required: false
        displayName: reportCustomFields
        description: |
          The `reportCustomFields` parameter is used when experiences are associated with a credit decisioning report.


          Designate up to 5 custom fields that you'd like associated with the report when it's generated. Every custom field consists of three variables: `label`, `value`, and `shown`. The `shown` variable is "true" or "false".

          * "true": (default) display the custom field in the PDF report

          * "false": don't display the custom field in the PDF report


          For an experience that generates multiple reports, the `reportCustomFields` parameter gets passed to all reports.


          All custom fields display in the Reseller Billing API.
        type: array
        items:
          type: ReportCustomField
  LiteConnectParameters:
    displayName: LiteConnectParameters
    type: object
    properties:
      language:
        required: false
        example:
          value: fr-CA
        displayName: language
        description: "Generate a translated Connect URL link. \n\nSupported languages: \n* English (default)\n* Spanish (United States): `es`\n* French (Canada): `fr` or `fr-CA`"
        type: string
      partnerId:
        required: true
        example:
          value: '1234583871234'
        displayName: partnerId
        description: Your Partner ID displayed in the [Developer Dashboard](https://developer.finicity.com/admin)
        type: string
      customerId:
        required: true
        example:
          value: '1005061234'
        displayName: customerId
        description: A customer ID. See Add Customer API for how to create a customer ID.
        type: string
      institutionId:
        required: true
        example:
          value: 4222
        displayName: institutionId
        description: The ID of a financial institution, represented as a number
        type: integer
        format: int64
      redirectUri:
        required: false
        example:
          value: https://www.finicity.com/connect/
        displayName: redirectUri
        description: The URL that customers will be redirected to after completing Finicity Connect. Required unless Connect is embedded inside our application (iframe).
        type: string
      webhook:
        required: false
        example:
          value: https://webhook.site/8d4421a7-d1d1-4f01-bb08-5370aff0321b
        displayName: webhook
        description: The publicly available URL you want to be notified with events as the user progresses through the application. See [Connect Webhook Event](https://docs.finicity.com/connect-and-mvs-webhooks/) for event details.
        type: string
      webhookContentType:
        required: false
        default: application/json
        example:
          value: application/json
        displayName: webhookContentType
        description: 'The content type the webhook events will be sent in. Supported types: "application/json" and "application/xml".'
        type: string
      webhookData:
        required: false
        displayName: webhookData
        description: 'Allows additional identifiable information to be inserted into the payload of connect webhook events. See: [Custom Webhooks](https://docs.finicity.com/custom-webhooks/).'
        type: object
        properties: {}
      webhookHeaders:
        required: false
        displayName: webhookHeaders
        description: 'Allows additional identifiable information to be included as headers of connect webhook event. See: [Custom Webhooks](https://docs.finicity.com/custom-webhooks/).'
        type: object
        properties: {}
      experience:
        required: false
        example:
          value: default
        displayName: experience
        description: "The `experience` field allows you to customize:\n* Brand: color and logo\n* Icon: displayed on the \"Share your data\" page \n* Popular institutions: displayed on the Bank Search page \n* Report: the credit decisioning report to send when Connect completes. \n* MVS modules: financial, payroll, paystub\n\nNote: the Finicity sales engineers (SE) help you set up a default experience for your company when you migrate to Connect 2.0. For each additional experience you create thereafter, they'll give you a unique ID. See [Generate 2.0 Connect URL APIs](https://docs.finicity.com/migrate-to-connect-web-sdk-2-0/#migrate-connect-web-sdk-1).\n\nExperience values options: \n* \"default\": your default experience (must be defined) \n* GUID: the code for a different experience\n* Not defined: If you don't pass the experience parameter, then Connect's out of the box default experience (add accounts but no branding) is used, and the MVS modules will not run."
        type: string
      singleUseUrl:
        required: false
        example:
          value: true
        displayName: singleUseUrl
        description: |
          "true": The URL link expires after a Connect session successfully completes.


          Note: when the `singleUseUrl` and the `experience` parameters are passed in the same call, the `singleUseUrl` value overrides the `singleUseUrl` value configured in the `experience` parameter.
        type: boolean
  FixConnectParameters:
    displayName: FixConnectParameters
    type: object
    properties:
      language:
        required: false
        example:
          value: fr-CA
        displayName: language
        description: "Generate a translated Connect URL link. \n\nSupported languages: \n* English (default)\n* Spanish (United States): `es`\n* French (Canada): `fr` or `fr-CA`"
        type: string
      partnerId:
        required: true
        example:
          value: '1234583871234'
        displayName: partnerId
        description: Your Partner ID displayed in the [Developer Dashboard](https://developer.finicity.com/admin)
        type: string
      customerId:
        required: true
        example:
          value: '1005061234'
        displayName: customerId
        description: A customer ID. See Add Customer API for how to create a customer ID.
        type: string
      institutionLoginId:
        required: true
        example:
          value: '1007302745'
        displayName: institutionLoginId
        description: An institution login ID (from the account record)
        type: string
      redirectUri:
        required: false
        example:
          value: https://www.finicity.com/connect/
        displayName: redirectUri
        description: The URL that customers will be redirected to after completing Finicity Connect. Required unless Connect is embedded inside our application (iframe).
        type: string
      webhook:
        required: false
        example:
          value: https://webhook.site/8d4421a7-d1d1-4f01-bb08-5370aff0321b
        displayName: webhook
        description: The publicly available URL you want to be notified with events as the user progresses through the application. See [Connect Webhook Event](https://docs.finicity.com/connect-and-mvs-webhooks/) for event details.
        type: string
      webhookContentType:
        required: false
        default: application/json
        example:
          value: application/json
        displayName: webhookContentType
        description: 'The content type the webhook events will be sent in. Supported types: "application/json" and "application/xml".'
        type: string
      webhookData:
        required: false
        displayName: webhookData
        description: 'Allows additional identifiable information to be inserted into the payload of connect webhook events. See: [Custom Webhooks](https://docs.finicity.com/custom-webhooks/).'
        type: object
        properties: {}
      webhookHeaders:
        required: false
        displayName: webhookHeaders
        description: 'Allows additional identifiable information to be included as headers of connect webhook event. See: [Custom Webhooks](https://docs.finicity.com/custom-webhooks/).'
        type: object
        properties: {}
      experience:
        required: false
        example:
          value: default
        displayName: experience
        description: "The `experience` field allows you to customize:\n* Brand: color and logo\n* Icon: displayed on the \"Share your data\" page \n* Popular institutions: displayed on the Bank Search page \n* Report: the credit decisioning report to send when Connect completes. \n* MVS modules: financial, payroll, paystub\n\nNote: the Finicity sales engineers (SE) help you set up a default experience for your company when you migrate to Connect 2.0. For each additional experience you create thereafter, they'll give you a unique ID. See [Generate 2.0 Connect URL APIs](https://docs.finicity.com/migrate-to-connect-web-sdk-2-0/#migrate-connect-web-sdk-1).\n\nExperience values options: \n* \"default\": your default experience (must be defined) \n* GUID: the code for a different experience\n* Not defined: If you don't pass the experience parameter, then Connect's out of the box default experience (add accounts but no branding) is used, and the MVS modules will not run."
        type: string
      singleUseUrl:
        required: false
        example:
          value: true
        displayName: singleUseUrl
        description: |
          "true": The URL link expires after a Connect session successfully completes.


          Note: when the `singleUseUrl` and the `experience` parameters are passed in the same call, the `singleUseUrl` value overrides the `singleUseUrl` value configured in the `experience` parameter.
        type: boolean
  ConnectEmailParameters:
    displayName: ConnectEmailParameters
    type: object
    properties:
      language:
        required: false
        example:
          value: fr-CA
        displayName: language
        description: "Generate a translated Connect URL link. \n\nSupported languages: \n* English (default)\n* Spanish (United States): `es`\n* French (Canada): `fr` or `fr-CA`"
        type: string
      partnerId:
        required: true
        example:
          value: '1234583871234'
        displayName: partnerId
        description: Your Partner ID displayed in the [Developer Dashboard](https://developer.finicity.com/admin)
        type: string
      customerId:
        required: true
        example:
          value: '1005061234'
        displayName: customerId
        description: A customer ID. See Add Customer API for how to create a customer ID.
        type: string
      consumerId:
        required: true
        example:
          value: 0bf46322c167b562e6cbed9d40e19a4c
        displayName: consumerId
        description: A consumer ID. See Create Consumer API for how to create a consumer ID.
        type: string
      redirectUri:
        required: false
        example:
          value: https://www.finicity.com/connect/
        displayName: redirectUri
        description: The URL that customers will be redirected to after completing Finicity Connect. Required unless Connect is embedded inside our application (iframe).
        type: string
      webhook:
        required: false
        example:
          value: https://webhook.site/8d4421a7-d1d1-4f01-bb08-5370aff0321b
        displayName: webhook
        description: The publicly available URL you want to be notified with events as the user progresses through the application. See [Connect Webhook Event](https://docs.finicity.com/connect-and-mvs-webhooks/) for event details.
        type: string
      webhookContentType:
        required: false
        default: application/json
        example:
          value: application/json
        displayName: webhookContentType
        description: 'The content type the webhook events will be sent in. Supported types: "application/json" and "application/xml".'
        type: string
      webhookData:
        required: false
        displayName: webhookData
        description: 'Allows additional identifiable information to be inserted into the payload of connect webhook events. See: [Custom Webhooks](https://docs.finicity.com/custom-webhooks/).'
        type: object
        properties: {}
      webhookHeaders:
        required: false
        displayName: webhookHeaders
        description: 'Allows additional identifiable information to be included as headers of connect webhook event. See: [Custom Webhooks](https://docs.finicity.com/custom-webhooks/).'
        type: object
        properties: {}
      institutionSettings:
        required: false
        displayName: institutionSettings
        description: Advanced options for configuration of which institutions to display in. See [Institution Settings](https://docs.finicity.com/connect-institution-settings/).
        type: object
        properties: {}
      email:
        required: true
        displayName: email
        description: Configuration for the Connect email's sent to customers
        type: EmailOptions
      experience:
        required: false
        example:
          value: default
        displayName: experience
        description: "The `experience` field allows you to customize:\n* Brand: color and logo\n* Icon: displayed on the \"Share your data\" page \n* Popular institutions: displayed on the Bank Search page \n* Report: the credit decisioning report to send when Connect completes. \n* MVS modules: financial, payroll, paystub\n\nNote: the Finicity sales engineers (SE) help you set up a default experience for your company when you migrate to Connect 2.0. For each additional experience you create thereafter, they'll give you a unique ID. See [Generate 2.0 Connect URL APIs](https://docs.finicity.com/migrate-to-connect-web-sdk-2-0/#migrate-connect-web-sdk-1).\n\nExperience values options: \n* \"default\": your default experience (must be defined) \n* GUID: the code for a different experience\n* Not defined: If you don't pass the experience parameter, then Connect's out of the box default experience (add accounts but no branding) is used, and the MVS modules will not run."
        type: string
      singleUseUrl:
        required: false
        example:
          value: true
        displayName: singleUseUrl
        description: |
          "true": The URL link expires after a Connect session successfully completes.


          Note: when the `singleUseUrl` and the `experience` parameters are passed in the same call, the `singleUseUrl` value overrides the `singleUseUrl` value configured in the `experience` parameter.
        type: boolean
      fromDate:
        required: false
        example:
          value: 1607450357
        displayName: fromDate
        description: "The `fromDate` parameter is used when experiences are associated with a credit decisioning report and any other reports with transaction data. The value is in epoch time and must be 10 digits. Example: 1494449017. If it's greater than 10 digits, then the `fromDate` is set to the credit decisioning report's default `fromDate`.\n\nFor an experience that generates multiple reports, the `fromDate` gets passed to the reports that support it.\n\nHowever, Connect doesn't pass this parameter to the following reports:\n* Pay Statement Extraction Report \n* VOIE - Paystub (with TXVerify) Report \n* Statement Report \n* Verification of Income Report \n* VOIE - Payroll Report \n\nNote: this field isn't used if you're only collecting transaction data without a report."
        type: integer
        format: int64
      reportCustomFields:
        required: false
        displayName: reportCustomFields
        description: |
          The `reportCustomFields` parameter is used when experiences are associated with a credit decisioning report.


          Designate up to 5 custom fields that you'd like associated with the report when it's generated. Every custom field consists of three variables: `label`, `value`, and `shown`. The `shown` variable is "true" or "false".

          * "true": (default) display the custom field in the PDF report

          * "false": don't display the custom field in the PDF report


          For an experience that generates multiple reports, the `reportCustomFields` parameter gets passed to all reports.


          All custom fields display in the Reseller Billing API.
        type: array
        items:
          type: ReportCustomField
      optionalConsumerInfo:
        required: false
        displayName: optionalConsumerInfo
        description: The SSN and date of birth of a consumer
        type: ConsumerInfo
  ConnectJointBorrowerParameters:
    displayName: ConnectJointBorrowerParameters
    type: object
    properties:
      language:
        required: false
        example:
          value: fr-CA
        displayName: language
        description: "Generate a translated Connect URL link. \n\nSupported languages: \n* English (default)\n* Spanish (United States): `es`\n* French (Canada): `fr` or `fr-CA`"
        type: string
      partnerId:
        required: true
        example:
          value: '1234583871234'
        displayName: partnerId
        description: Your Partner ID displayed in the [Developer Dashboard](https://developer.finicity.com/admin)
        type: string
      borrowers:
        required: true
        displayName: borrowers
        description: (MVS) Array of borrowers to pass the primary and joint borrower's customer and consumer IDs
        type: array
        items:
          type: Borrower
      redirectUri:
        required: false
        example:
          value: https://www.finicity.com/connect/
        displayName: redirectUri
        description: The URL that customers will be redirected to after completing Finicity Connect. Required unless Connect is embedded inside our application (iframe).
        type: string
      webhook:
        required: false
        example:
          value: https://webhook.site/8d4421a7-d1d1-4f01-bb08-5370aff0321b
        displayName: webhook
        description: The publicly available URL you want to be notified with events as the user progresses through the application. See [Connect Webhook Event](https://docs.finicity.com/connect-and-mvs-webhooks/) for event details.
        type: string
      webhookContentType:
        required: false
        default: application/json
        example:
          value: application/json
        displayName: webhookContentType
        description: 'The content type the webhook events will be sent in. Supported types: "application/json" and "application/xml".'
        type: string
      webhookData:
        required: false
        displayName: webhookData
        description: 'Allows additional identifiable information to be inserted into the payload of connect webhook events. See: [Custom Webhooks](https://docs.finicity.com/custom-webhooks/).'
        type: object
        properties: {}
      webhookHeaders:
        required: false
        displayName: webhookHeaders
        description: 'Allows additional identifiable information to be included as headers of connect webhook event. See: [Custom Webhooks](https://docs.finicity.com/custom-webhooks/).'
        type: object
        properties: {}
      institutionSettings:
        required: false
        displayName: institutionSettings
        description: Advanced options for configuration of which institutions to display in. See [Institution Settings](https://docs.finicity.com/connect-institution-settings/).
        type: object
        properties: {}
      experience:
        required: false
        example:
          value: default
        displayName: experience
        description: "The `experience` field allows you to customize:\n* Brand: color and logo\n* Icon: displayed on the \"Share your data\" page \n* Popular institutions: displayed on the Bank Search page \n* Report: the credit decisioning report to send when Connect completes. \n* MVS modules: financial, payroll, paystub\n\nNote: the Finicity sales engineers (SE) help you set up a default experience for your company when you migrate to Connect 2.0. For each additional experience you create thereafter, they'll give you a unique ID. See [Generate 2.0 Connect URL APIs](https://docs.finicity.com/migrate-to-connect-web-sdk-2-0/#migrate-connect-web-sdk-1).\n\nExperience values options: \n* \"default\": your default experience (must be defined) \n* GUID: the code for a different experience\n* Not defined: If you don't pass the experience parameter, then Connect's out of the box default experience (add accounts but no branding) is used, and the MVS modules will not run."
        type: string
      fromDate:
        required: false
        example:
          value: 1607450357
        displayName: fromDate
        description: "The `fromDate` parameter is used when experiences are associated with a credit decisioning report and any other reports with transaction data. The value is in epoch time and must be 10 digits. Example: 1494449017. If it's greater than 10 digits, then the `fromDate` is set to the credit decisioning report's default `fromDate`.\n\nFor an experience that generates multiple reports, the `fromDate` gets passed to the reports that support it.\n\nHowever, Connect doesn't pass this parameter to the following reports:\n* Pay Statement Extraction Report \n* VOIE - Paystub (with TXVerify) Report \n* Statement Report \n* Verification of Income Report \n* VOIE - Payroll Report \n\nNote: this field isn't used if you're only collecting transaction data without a report."
        type: integer
        format: int64
      reportCustomFields:
        required: false
        displayName: reportCustomFields
        description: |
          The `reportCustomFields` parameter is used when experiences are associated with a credit decisioning report.


          Designate up to 5 custom fields that you'd like associated with the report when it's generated. Every custom field consists of three variables: `label`, `value`, and `shown`. The `shown` variable is "true" or "false".

          * "true": (default) display the custom field in the PDF report

          * "false": don't display the custom field in the PDF report


          For an experience that generates multiple reports, the `reportCustomFields` parameter gets passed to all reports.


          All custom fields display in the Reseller Billing API.
        type: array
        items:
          type: ReportCustomField
      singleUseUrl:
        required: false
        example:
          value: true
        displayName: singleUseUrl
        description: |
          "true": The URL link expires after a Connect session successfully completes.


          Note: when the `singleUseUrl` and the `experience` parameters are passed in the same call, the `singleUseUrl` value overrides the `singleUseUrl` value configured in the `experience` parameter.
        type: boolean
  ConnectJointBorrowerEmailParameters:
    displayName: ConnectJointBorrowerEmailParameters
    type: object
    properties:
      language:
        required: false
        example:
          value: fr-CA
        displayName: language
        description: "Generate a translated Connect URL link. \n\nSupported languages: \n* English (default)\n* Spanish (United States): `es`\n* French (Canada): `fr` or `fr-CA`"
        type: string
      partnerId:
        required: true
        example:
          value: '1234583871234'
        displayName: partnerId
        description: Your Partner ID displayed in the [Developer Dashboard](https://developer.finicity.com/admin)
        type: string
      borrowers:
        required: true
        displayName: borrowers
        description: (MVS) Array of borrowers to pass the primary and joint borrower's customer and consumer IDs
        type: array
        items:
          type: Borrower
      redirectUri:
        required: false
        example:
          value: https://www.finicity.com/connect/
        displayName: redirectUri
        description: The URL that customers will be redirected to after completing Finicity Connect. Required unless Connect is embedded inside our application (iframe).
        type: string
      webhook:
        required: false
        example:
          value: https://webhook.site/8d4421a7-d1d1-4f01-bb08-5370aff0321b
        displayName: webhook
        description: The publicly available URL you want to be notified with events as the user progresses through the application. See [Connect Webhook Event](https://docs.finicity.com/connect-and-mvs-webhooks/) for event details.
        type: string
      webhookContentType:
        required: false
        default: application/json
        example:
          value: application/json
        displayName: webhookContentType
        description: 'The content type the webhook events will be sent in. Supported types: "application/json" and "application/xml".'
        type: string
      webhookData:
        required: false
        displayName: webhookData
        description: 'Allows additional identifiable information to be inserted into the payload of connect webhook events. See: [Custom Webhooks](https://docs.finicity.com/custom-webhooks/).'
        type: object
        properties: {}
      webhookHeaders:
        required: false
        displayName: webhookHeaders
        description: 'Allows additional identifiable information to be included as headers of connect webhook event. See: [Custom Webhooks](https://docs.finicity.com/custom-webhooks/).'
        type: object
        properties: {}
      institutionSettings:
        required: false
        displayName: institutionSettings
        description: Advanced options for configuration of which institutions to display in. See [Institution Settings](https://docs.finicity.com/connect-institution-settings/).
        type: object
        properties: {}
      email:
        required: true
        displayName: email
        description: Configuration for the Connect email's sent to customers
        type: EmailOptions
      experience:
        required: true
        example:
          value: default
        displayName: experience
        description: "The `experience` field allows you to customize:\n* Brand: color and logo\n* Icon: displayed on the \"Share your data\" page \n* Popular institutions: displayed on the Bank Search page \n* Report: the credit decisioning report to send when Connect completes. \n* MVS modules: financial, payroll, paystub\n\nNote: the Finicity sales engineers (SE) help you set up a default experience for your company when you migrate to Connect 2.0. For each additional experience you create thereafter, they'll give you a unique ID. See [Generate 2.0 Connect URL APIs](https://docs.finicity.com/migrate-to-connect-web-sdk-2-0/#migrate-connect-web-sdk-1).\n\nExperience values options: \n* \"default\": your default experience (must be defined) \n* GUID: the code for a different experience\n* Not defined: If you don't pass the experience parameter, then Connect's out of the box default experience (add accounts but no branding) is used, and the MVS modules will not run."
        type: string
      fromDate:
        required: false
        example:
          value: 1607450357
        displayName: fromDate
        description: "The `fromDate` parameter is used when experiences are associated with a credit decisioning report and any other reports with transaction data. The value is in epoch time and must be 10 digits. Example: 1494449017. If it's greater than 10 digits, then the `fromDate` is set to the credit decisioning report's default `fromDate`.\n\nFor an experience that generates multiple reports, the `fromDate` gets passed to the reports that support it.\n\nHowever, Connect doesn't pass this parameter to the following reports:\n* Pay Statement Extraction Report \n* VOIE - Paystub (with TXVerify) Report \n* Statement Report \n* Verification of Income Report \n* VOIE - Payroll Report \n\nNote: this field isn't used if you're only collecting transaction data without a report."
        type: integer
        format: int64
      reportCustomFields:
        required: false
        displayName: reportCustomFields
        description: |
          The `reportCustomFields` parameter is used when experiences are associated with a credit decisioning report.


          Designate up to 5 custom fields that you'd like associated with the report when it's generated. Every custom field consists of three variables: `label`, `value`, and `shown`. The `shown` variable is "true" or "false".

          * "true": (default) display the custom field in the PDF report

          * "false": don't display the custom field in the PDF report


          For an experience that generates multiple reports, the `reportCustomFields` parameter gets passed to all reports.


          All custom fields display in the Reseller Billing API.
        type: array
        items:
          type: ReportCustomField
      singleUseUrl:
        required: false
        example:
          value: true
        displayName: singleUseUrl
        description: |
          "true": The URL link expires after a Connect session successfully completes.


          Note: when the `singleUseUrl` and the `experience` parameters are passed in the same call, the `singleUseUrl` value overrides the `singleUseUrl` value configured in the `experience` parameter.
        type: boolean
  Borrower:
    displayName: Borrower
    type: object
    properties:
      customerId:
        required: true
        example:
          value: '1005061234'
        displayName: customerId
        description: A customer ID. See Add Customer API for how to create a customer ID.
        type: string
      consumerId:
        required: true
        example:
          value: 0bf46322c167b562e6cbed9d40e19a4c
        displayName: consumerId
        description: A consumer ID. See Create Consumer API for how to create a consumer ID.
        type: string
      type:
        required: true
        example:
          value: primary
        displayName: type
        description: '"primary" or "jointBorrower"'
        type: string
      optionalConsumerInfo:
        required: false
        displayName: optionalConsumerInfo
        description: The SSN and date of birth of a consumer
        type: ConsumerInfo
  ConsumerInfo:
    displayName: ConsumerInfo
    description: The SSN and date of birth of a consumer
    type: object
    properties:
      ssn:
        required: true
        example:
          value: '999999999'
        displayName: ssn
        description: A full SSN without hyphens
        type: string
      dob:
        required: false
        example:
          value: 1607450357
        displayName: dob
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
  VOAReportConstraints:
    displayName: VOAReportConstraints
    type: object
    properties:
      accountIds:
        required: false
        example:
          value: 5011648377 5011648378 5011648379
        displayName: accountIds
        description: A whitespace-separated list of account IDs to be included in the report (all accounts will be included if not set)
        type: string
      reportCustomFields:
        required: false
        displayName: reportCustomFields
        description: |
          The `reportCustomFields` parameter is used when experiences are associated with a credit decisioning report.


          Designate up to 5 custom fields that you'd like associated with the report when it's generated. Every custom field consists of three variables: `label`, `value`, and `shown`. The `shown` variable is "true" or "false".

          * "true": (default) display the custom field in the PDF report

          * "false": don't display the custom field in the PDF report


          For an experience that generates multiple reports, the `reportCustomFields` parameter gets passed to all reports.


          All custom fields display in the Reseller Billing API.
        type: array
        items:
          type: ReportCustomField
      showNsf:
        required: false
        example:
          value: false
        displayName: showNsf
        description: |
          Include the non-sufficient funds (NSF) summary JSON and the NSF summary PDF section in the report. Data included:

          * Account


          * Total number of NSF funds


          * Days since the most recent NFS funds fee
        type: boolean
      fromDate:
        required: false
        example:
          value: 1607450357
        displayName: fromDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
  VOAReportConstraintsOut:
    displayName: VOAReportConstraintsOut
    type: object
    properties:
      accountIds:
        required: false
        example:
          value:
          - '5011648377'
          - '5011648378'
          - '5011648379'
        displayName: accountIds
        description: An array of account IDs to be included in the report (all accounts will be included if not set)
        type: array
        items:
          type: string
      reportCustomFields:
        required: false
        displayName: reportCustomFields
        description: |
          The `reportCustomFields` parameter is used when experiences are associated with a credit decisioning report.


          Designate up to 5 custom fields that you'd like associated with the report when it's generated. Every custom field consists of three variables: `label`, `value`, and `shown`. The `shown` variable is "true" or "false".

          * "true": (default) display the custom field in the PDF report

          * "false": don't display the custom field in the PDF report


          For an experience that generates multiple reports, the `reportCustomFields` parameter gets passed to all reports.


          All custom fields display in the Reseller Billing API.
        type: array
        items:
          type: ReportCustomField
      showNsf:
        required: false
        example:
          value: false
        displayName: showNsf
        description: |
          Include the non-sufficient funds (NSF) summary JSON and the NSF summary PDF section in the report. Data included:

          * Account


          * Total number of NSF funds


          * Days since the most recent NFS funds fee
        type: boolean
      fromDate:
        required: false
        example:
          value: 1607450357
        displayName: fromDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
  VOAWithIncomeReportConstraints:
    displayName: VOAWithIncomeReportConstraints
    type: object
    properties:
      accountIds:
        required: false
        example:
          value: 5011648377 5011648378 5011648379
        displayName: accountIds
        description: A whitespace-separated list of account IDs to be included in the report (all accounts will be included if not set)
        type: string
      reportCustomFields:
        required: false
        displayName: reportCustomFields
        description: |
          The `reportCustomFields` parameter is used when experiences are associated with a credit decisioning report.


          Designate up to 5 custom fields that you'd like associated with the report when it's generated. Every custom field consists of three variables: `label`, `value`, and `shown`. The `shown` variable is "true" or "false".

          * "true": (default) display the custom field in the PDF report

          * "false": don't display the custom field in the PDF report


          For an experience that generates multiple reports, the `reportCustomFields` parameter gets passed to all reports.


          All custom fields display in the Reseller Billing API.
        type: array
        items:
          type: ReportCustomField
      showNsf:
        required: false
        example:
          value: false
        displayName: showNsf
        description: |
          Include the non-sufficient funds (NSF) summary JSON and the NSF summary PDF section in the report. Data included:

          * Account


          * Total number of NSF funds


          * Days since the most recent NFS funds fee
        type: boolean
      fromDate:
        required: false
        example:
          value: 1607450357
        displayName: fromDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      incomeStreamConfidenceMinimum:
        required: false
        example:
          value: 50
        displayName: incomeStreamConfidenceMinimum
        description: Include income streams in the report, based on the income stream's confidence score. For example, Use the value 50 to include only income streams with a confidence score of 50 or higher.
        type: integer
        format: int32
  VOAWithIncomeReportConstraintsOut:
    displayName: VOAWithIncomeReportConstraintsOut
    type: object
    properties:
      accountIds:
        required: false
        example:
          value:
          - '5011648377'
          - '5011648378'
          - '5011648379'
        displayName: accountIds
        description: An array of account IDs to be included in the report (all accounts will be included if not set)
        type: array
        items:
          type: string
      reportCustomFields:
        required: false
        displayName: reportCustomFields
        description: |
          The `reportCustomFields` parameter is used when experiences are associated with a credit decisioning report.


          Designate up to 5 custom fields that you'd like associated with the report when it's generated. Every custom field consists of three variables: `label`, `value`, and `shown`. The `shown` variable is "true" or "false".

          * "true": (default) display the custom field in the PDF report

          * "false": don't display the custom field in the PDF report


          For an experience that generates multiple reports, the `reportCustomFields` parameter gets passed to all reports.


          All custom fields display in the Reseller Billing API.
        type: array
        items:
          type: ReportCustomField
      showNsf:
        required: false
        example:
          value: false
        displayName: showNsf
        description: |
          Include the non-sufficient funds (NSF) summary JSON and the NSF summary PDF section in the report. Data included:

          * Account


          * Total number of NSF funds


          * Days since the most recent NFS funds fee
        type: boolean
      fromDate:
        required: false
        example:
          value: 1607450357
        displayName: fromDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      incomeStreamConfidenceMinimum:
        required: false
        example:
          value: 50
        displayName: incomeStreamConfidenceMinimum
        description: Include income streams in the report, based on the income stream's confidence score. For example, Use the value 50 to include only income streams with a confidence score of 50 or higher.
        type: integer
        format: int32
  PrequalificationReportConstraints:
    displayName: PrequalificationReportConstraints
    type: object
    properties:
      accountIds:
        required: false
        example:
          value: 5011648377 5011648378 5011648379
        displayName: accountIds
        description: A whitespace-separated list of account IDs to be included in the report (all accounts will be included if not set)
        type: string
      reportCustomFields:
        required: false
        displayName: reportCustomFields
        description: |
          The `reportCustomFields` parameter is used when experiences are associated with a credit decisioning report.


          Designate up to 5 custom fields that you'd like associated with the report when it's generated. Every custom field consists of three variables: `label`, `value`, and `shown`. The `shown` variable is "true" or "false".

          * "true": (default) display the custom field in the PDF report

          * "false": don't display the custom field in the PDF report


          For an experience that generates multiple reports, the `reportCustomFields` parameter gets passed to all reports.


          All custom fields display in the Reseller Billing API.
        type: array
        items:
          type: ReportCustomField
      showNsf:
        required: false
        example:
          value: false
        displayName: showNsf
        description: |
          Include the non-sufficient funds (NSF) summary JSON and the NSF summary PDF section in the report. Data included:

          * Account


          * Total number of NSF funds


          * Days since the most recent NFS funds fee
        type: boolean
      fromDate:
        required: false
        example:
          value: 1607450357
        displayName: fromDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
  PrequalificationReportConstraintsOut:
    displayName: PrequalificationReportConstraintsOut
    type: object
    properties:
      accountIds:
        required: false
        example:
          value:
          - '5011648377'
          - '5011648378'
          - '5011648379'
        displayName: accountIds
        description: An array of account IDs to be included in the report (all accounts will be included if not set)
        type: array
        items:
          type: string
      reportCustomFields:
        required: false
        displayName: reportCustomFields
        description: |
          The `reportCustomFields` parameter is used when experiences are associated with a credit decisioning report.


          Designate up to 5 custom fields that you'd like associated with the report when it's generated. Every custom field consists of three variables: `label`, `value`, and `shown`. The `shown` variable is "true" or "false".

          * "true": (default) display the custom field in the PDF report

          * "false": don't display the custom field in the PDF report


          For an experience that generates multiple reports, the `reportCustomFields` parameter gets passed to all reports.


          All custom fields display in the Reseller Billing API.
        type: array
        items:
          type: ReportCustomField
      showNsf:
        required: false
        example:
          value: false
        displayName: showNsf
        description: |
          Include the non-sufficient funds (NSF) summary JSON and the NSF summary PDF section in the report. Data included:

          * Account


          * Total number of NSF funds


          * Days since the most recent NFS funds fee
        type: boolean
      fromDate:
        required: false
        example:
          value: 1607450357
        displayName: fromDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
  VOIReportConstraints:
    displayName: VOIReportConstraints
    type: object
    properties:
      accountIds:
        required: false
        example:
          value: 5011648377 5011648378 5011648379
        displayName: accountIds
        description: A whitespace-separated list of account IDs to be included in the report (all accounts will be included if not set)
        type: string
      reportCustomFields:
        required: false
        displayName: reportCustomFields
        description: |
          The `reportCustomFields` parameter is used when experiences are associated with a credit decisioning report.


          Designate up to 5 custom fields that you'd like associated with the report when it's generated. Every custom field consists of three variables: `label`, `value`, and `shown`. The `shown` variable is "true" or "false".

          * "true": (default) display the custom field in the PDF report

          * "false": don't display the custom field in the PDF report


          For an experience that generates multiple reports, the `reportCustomFields` parameter gets passed to all reports.


          All custom fields display in the Reseller Billing API.
        type: array
        items:
          type: ReportCustomField
      fromDate:
        required: false
        example:
          value: 1607450357
        displayName: fromDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      incomeStreamConfidenceMinimum:
        required: false
        example:
          value: 50
        displayName: incomeStreamConfidenceMinimum
        description: Include income streams in the report, based on the income stream's confidence score. For example, Use the value 50 to include only income streams with a confidence score of 50 or higher.
        type: integer
        format: int32
  VOIReportConstraintsOut:
    displayName: VOIReportConstraintsOut
    type: object
    properties:
      accountIds:
        required: false
        example:
          value:
          - '5011648377'
          - '5011648378'
          - '5011648379'
        displayName: accountIds
        description: An array of account IDs to be included in the report (all accounts will be included if not set)
        type: array
        items:
          type: string
      reportCustomFields:
        required: false
        displayName: reportCustomFields
        description: |
          The `reportCustomFields` parameter is used when experiences are associated with a credit decisioning report.


          Designate up to 5 custom fields that you'd like associated with the report when it's generated. Every custom field consists of three variables: `label`, `value`, and `shown`. The `shown` variable is "true" or "false".

          * "true": (default) display the custom field in the PDF report

          * "false": don't display the custom field in the PDF report


          For an experience that generates multiple reports, the `reportCustomFields` parameter gets passed to all reports.


          All custom fields display in the Reseller Billing API.
        type: array
        items:
          type: ReportCustomField
      fromDate:
        required: false
        example:
          value: 1607450357
        displayName: fromDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      incomeStreamConfidenceMinimum:
        required: false
        example:
          value: 50
        displayName: incomeStreamConfidenceMinimum
        description: Include income streams in the report, based on the income stream's confidence score. For example, Use the value 50 to include only income streams with a confidence score of 50 or higher.
        type: integer
        format: int32
  ReportCustomField:
    displayName: ReportCustomField
    type: object
    properties:
      label:
        required: false
        example:
          value: loanID
        displayName: label
        description: The name of the custom field
        type: string
      value:
        required: false
        example:
          value: '123456'
        displayName: value
        description: The value of the custom field
        type: string
      shown:
        required: false
        example:
          value: true
        displayName: shown
        description: If the custom field will show on the PDF or not
        type: boolean
  ConnectUrl:
    displayName: ConnectUrl
    description: A Connect URL object
    type: object
    properties:
      link:
        required: true
        example:
          value: https://connect2.finicity.com?customerId=5025024821&institutionId=102105&origin=url&partnerId=2445583925753&signature=b5667164db7a9a0007b59267785c996ca3bc9ce97f2e72c98099cead76edfad9&timestamp=1648050761908&ttl=1648057961908&type=lite&webhookContentType=application%2Fjson
        displayName: link
        description: A generated Connect URL
        type: string
  ConnectEmailUrl:
    displayName: ConnectEmailUrl
    type: object
    properties:
      link:
        required: true
        example:
          value: https://connect2.finicity.com?customerId=5025024821&institutionId=102105&origin=url&partnerId=2445583925753&signature=b5667164db7a9a0007b59267785c996ca3bc9ce97f2e72c98099cead76edfad9&timestamp=1648050761908&ttl=1648057961908&type=lite&webhookContentType=application%2Fjson
        displayName: link
        description: A generated Connect URL
        type: string
      emailConfig:
        required: true
        displayName: emailConfig
        description: Configuration for the Connect email's sent to customers
        type: EmailOptions
  EmailOptions:
    displayName: EmailOptions
    description: Configuration for the Connect email's sent to customers
    type: object
    properties:
      to:
        required: true
        example:
          value: alex.salido@finicity.com
        displayName: to
        description: The email address for the customer receiving the Connect email
        type: string
      from:
        required: false
        example:
          value: test.lender@test.com
        displayName: from
        description: The name of a person or business sending the Connect email
        type: string
      supportPhone:
        required: false
        example:
          value: 800-555-5555
        displayName: supportPhone
        description: The support phone number listed in the email
        type: string
      subject:
        required: false
        example:
          value: Verify your income
        displayName: subject
        description: The subject line of the email. The default is "Verify your Financial Information".
        type: string
      firstName:
        required: false
        example:
          value: Bob
        displayName: firstName
        description: 'The first name of the customer or both names of the customers for joint borrowers. Example: "Marvin and Jenny".'
        type: string
      institutionName:
        required: false
        example:
          value: Acme Lending
        displayName: institutionName
        description: The name of your company
        type: string
      institutionAddress:
        required: false
        example:
          value: 222 Winipeg Drive SLC UT, 84109
        displayName: institutionAddress
        description: The institution address to appear in the footer of the email
        type: string
      signature:
        required: false
        example:
          value:
          - Cindy Mayfield
          - Senior Loan Officer
          - Direct 123-456-7890
        displayName: signature
        description: A signature for the email
        type: array
        items:
          type: string
  NewCustomer:
    displayName: NewCustomer
    description: A new customer to be enrolled
    type: object
    properties:
      username:
        required: true
        example:
          value: customerusername1
        displayName: username
        description: "The customer's username, assigned by the partner (a unique identifier), following these rules: minimum 6 characters maximum 255 characters any mix of uppercase, lowercase, numeric, and non-alphabet special characters ! @ . # $ % & * _ – + the use of email in this field is discouraged it is recommended to use a unique non-email identifier. Use of special characters may result in an error (e.g. í, ü, etc.). Usernames are unique. A username used in [Test Drive](https://signup.finicity.com/) can't be reused in other plans."
        type: string
      firstName:
        required: false
        example:
          value: John
        displayName: firstName
        description: First name(s) / given name(s)
        type: string
      lastName:
        required: false
        example:
          value: Smith
        displayName: lastName
        description: Last name(s) / surname(s)
        type: string
      applicationId:
        required: false
        example:
          value: '123456789'
        displayName: applicationId
        description: '`applicationId` value returned from the Get App Registration Status API and the partner assign the customers to. This cannot be changed once set. Only applicable in cases of partners with multiple registered applications. If the partner only has one app, this can usually be omitted. This field is populated after the app is in a status approved.'
        type: string
  CustomerUpdate:
    displayName: CustomerUpdate
    description: Represent an update to customer fields
    type: object
    properties:
      firstName:
        required: false
        example:
          value: John
        displayName: firstName
        description: First name(s) / given name(s)
        type: string
      lastName:
        required: false
        example:
          value: Smith
        displayName: lastName
        description: Last name(s) / surname(s)
        type: string
  CreatedCustomer:
    displayName: CreatedCustomer
    description: A new customer that was just enrolled
    type: object
    properties:
      id:
        required: true
        example:
          value: '1005061234'
        displayName: id
        description: A customer ID. See Add Customer API for how to create a customer ID.
        type: string
      username:
        required: true
        example:
          value: customerusername1
        displayName: username
        description: "The customer's username, assigned by the partner (a unique identifier), following these rules: minimum 6 characters maximum 255 characters any mix of uppercase, lowercase, numeric, and non-alphabet special characters ! @ . # $ % & * _ – + the use of email in this field is discouraged it is recommended to use a unique non-email identifier. Use of special characters may result in an error (e.g. í, ü, etc.). Usernames are unique. A username used in [Test Drive](https://signup.finicity.com/) can't be reused in other plans."
        type: string
      createdDate:
        required: true
        example:
          value: 1607450357
        displayName: createdDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
  Customer:
    displayName: Customer
    description: A finicity customer record
    type: object
    properties:
      id:
        required: true
        example:
          value: '1005061234'
        displayName: id
        description: A customer ID. See Add Customer API for how to create a customer ID.
        type: string
      username:
        required: true
        example:
          value: customerusername1
        displayName: username
        description: "The customer's username, assigned by the partner (a unique identifier), following these rules: minimum 6 characters maximum 255 characters any mix of uppercase, lowercase, numeric, and non-alphabet special characters ! @ . # $ % & * _ – + the use of email in this field is discouraged it is recommended to use a unique non-email identifier. Use of special characters may result in an error (e.g. í, ü, etc.). Usernames are unique. A username used in [Test Drive](https://signup.finicity.com/) can't be reused in other plans."
        type: string
      firstName:
        required: false
        example:
          value: John
        displayName: firstName
        description: First name(s) / given name(s)
        type: string
      lastName:
        required: false
        example:
          value: Smith
        displayName: lastName
        description: Last name(s) / surname(s)
        type: string
      type:
        required: true
        example:
          value: active
        displayName: type
        description: The type of customer ("active" or "testing" or "" for all types)
        type: string
      createdDate:
        required: true
        example:
          value: '1607450357'
        displayName: createdDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: string
      lastModifiedDate:
        required: false
        example:
          value: '1607450357'
        displayName: lastModifiedDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: string
  CustomerWithAppData:
    displayName: CustomerWithAppData
    description: A finicity customer record with application info
    type: object
    properties:
      id:
        required: true
        example:
          value: '1005061234'
        displayName: id
        description: A customer ID. See Add Customer API for how to create a customer ID.
        type: string
      username:
        required: true
        example:
          value: customerusername1
        displayName: username
        description: "The customer's username, assigned by the partner (a unique identifier), following these rules: minimum 6 characters maximum 255 characters any mix of uppercase, lowercase, numeric, and non-alphabet special characters ! @ . # $ % & * _ – + the use of email in this field is discouraged it is recommended to use a unique non-email identifier. Use of special characters may result in an error (e.g. í, ü, etc.). Usernames are unique. A username used in [Test Drive](https://signup.finicity.com/) can't be reused in other plans."
        type: string
      firstName:
        required: true
        example:
          value: John
        displayName: firstName
        description: First name(s) / given name(s)
        type: string
      lastName:
        required: true
        example:
          value: Smith
        displayName: lastName
        description: Last name(s) / surname(s)
        type: string
      type:
        required: true
        example:
          value: active
        displayName: type
        description: The type of customer ("active" or "testing" or "" for all types)
        type: string
      createdDate:
        required: true
        example:
          value: '1607450357'
        displayName: createdDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: string
      lastModifiedDate:
        required: false
        example:
          value: '1607450357'
        displayName: lastModifiedDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: string
      applicationId:
        required: true
        example:
          value: '123456789'
        displayName: applicationId
        description: '`applicationId` value returned from the Get App Registration Status API and the partner assign the customers to. This cannot be changed once set. Only applicable in cases of partners with multiple registered applications. If the partner only has one app, this can usually be omitted. This field is populated after the app is in a status approved.'
        type: string
      applicationName:
        required: true
        example:
          value: Awesome Budget App
        displayName: applicationName
        description: The name of the application assigned to the customer
        type: string
  Customers:
    displayName: Customers
    description: A list of customers
    type: object
    properties:
      found:
        required: true
        example:
          value: 200
        displayName: found
        description: The total number of results matching search criteria
        type: integer
        format: int32
      displaying:
        required: true
        example:
          value: 2
        displayName: displaying
        description: The number of results returned
        type: integer
        format: int32
      moreAvailable:
        required: true
        example:
          value: true
        displayName: moreAvailable
        description: If the value of `moreAvailable` is "true", you can retrieve the next page of results by increasing the value of the start parameter in your next request:"...&start=6&limit=5"
        type: boolean
      customers:
        required: true
        displayName: customers
        description: A list of customer records
        type: array
        items:
          type: Customer
  NewConsumer:
    displayName: NewConsumer
    description: A new consumer to be created
    type: object
    properties:
      firstName:
        required: true
        example:
          value: John
        displayName: firstName
        description: First name(s) / given name(s)
        type: string
      lastName:
        required: true
        example:
          value: Smith
        displayName: lastName
        description: Last name(s) / surname(s)
        type: string
      address:
        required: true
        example:
          value: 434 W Ascension Way
        displayName: address
        description: A street address
        type: string
      city:
        required: true
        example:
          value: Murray
        displayName: city
        description: A city
        type: string
      state:
        required: true
        example:
          value: UT
        displayName: state
        description: A state
        type: string
      zip:
        required: true
        example:
          value: '84123'
        displayName: zip
        description: A ZIP code
        type: string
      phone:
        required: true
        example:
          value: 1-800-986-3343
        displayName: phone
        description: A phone number
        type: string
      ssn:
        required: true
        example:
          value: 999-99-9999
        displayName: ssn
        description: A full SSN with or without hyphens
        type: string
      birthday:
        required: true
        displayName: birthday
        description: A birth date
        type: Birthday
      email:
        required: false
        example:
          value: finicity@test.com
        displayName: email
        description: An email address
        type: string
      suffix:
        required: false
        example:
          value: Mr
        displayName: suffix
        description: A person suffix
        type: string
  ConsumerUpdate:
    displayName: ConsumerUpdate
    type: object
    properties:
      firstName:
        required: false
        example:
          value: John
        displayName: firstName
        description: First name(s) / given name(s)
        type: string
      lastName:
        required: false
        example:
          value: Smith
        displayName: lastName
        description: Last name(s) / surname(s)
        type: string
      address:
        required: false
        example:
          value: 434 W Ascension Way
        displayName: address
        description: A street address
        type: string
      city:
        required: false
        example:
          value: Murray
        displayName: city
        description: A city
        type: string
      state:
        required: false
        example:
          value: UT
        displayName: state
        description: A state
        type: string
      zip:
        required: false
        example:
          value: '84123'
        displayName: zip
        description: A ZIP code
        type: string
      phone:
        required: false
        example:
          value: 1-800-986-3343
        displayName: phone
        description: A phone number
        type: string
      ssn:
        required: false
        example:
          value: 999-99-9999
        displayName: ssn
        description: A full SSN with or without hyphens
        type: string
      birthday:
        required: false
        displayName: birthday
        description: A birth date
        type: Birthday
      email:
        required: false
        example:
          value: finicity@test.com
        displayName: email
        description: An email address
        type: string
      suffix:
        required: false
        example:
          value: Mr
        displayName: suffix
        description: A person suffix
        type: string
  CreatedConsumer:
    displayName: CreatedConsumer
    description: A consumer that was just created
    type: object
    properties:
      id:
        required: false
        example:
          value: 0bf46322c167b562e6cbed9d40e19a4c
        displayName: id
        description: A consumer ID. See Create Consumer API for how to create a consumer ID.
        type: string
      createdDate:
        required: false
        example:
          value: 1607450357
        displayName: createdDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      customerId:
        required: false
        example:
          value: 1005061234
        displayName: customerId
        description: A customer ID represented as a number. See Add Customer API for how to create a customer ID.
        type: integer
        format: int64
  Consumer:
    displayName: Consumer
    description: A finicity consumer record
    type: object
    properties:
      id:
        required: true
        example:
          value: 0bf46322c167b562e6cbed9d40e19a4c
        displayName: id
        description: A consumer ID. See Create Consumer API for how to create a consumer ID.
        type: string
      firstName:
        required: true
        example:
          value: John
        displayName: firstName
        description: First name(s) / given name(s)
        type: string
      lastName:
        required: true
        example:
          value: Smith
        displayName: lastName
        description: Last name(s) / surname(s)
        type: string
      customerId:
        required: true
        example:
          value: 1005061234
        displayName: customerId
        description: A customer ID represented as a number. See Add Customer API for how to create a customer ID.
        type: integer
        format: int64
      address:
        required: true
        example:
          value: 434 W Ascension Way
        displayName: address
        description: A street address
        type: string
      city:
        required: true
        example:
          value: Murray
        displayName: city
        description: A city
        type: string
      state:
        required: true
        example:
          value: UT
        displayName: state
        description: A state
        type: string
      zip:
        required: true
        example:
          value: '84123'
        displayName: zip
        description: A ZIP code
        type: string
      phone:
        required: true
        example:
          value: 1-800-986-3343
        displayName: phone
        description: A phone number
        type: string
      ssn:
        required: true
        example:
          value: '9999'
        displayName: ssn
        description: Last 4 digits of a SSN
        type: string
      birthday:
        required: true
        displayName: birthday
        description: A birth date
        type: Birthday
      email:
        required: true
        example:
          value: finicity@test.com
        displayName: email
        description: An email address
        type: string
      createdDate:
        required: true
        example:
          value: 1607450357
        displayName: createdDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      suffix:
        required: false
        example:
          value: Mr
        displayName: suffix
        description: A person suffix
        type: string
  AccountOwner:
    displayName: AccountOwner
    description: Owner of a customer account
    type: object
    properties:
      ownerName:
        required: true
        example:
          value: John Smith
        displayName: ownerName
        description: The name of the account owner. Can be multiple account owners in one string. This is how the source data is returned from the institution.
        type: string
      ownerAddress:
        required: true
        example:
          value: 434 W Ascension Way
        displayName: ownerAddress
        description: A street address
        type: string
      asOfDate:
        required: false
        example:
          value: 1607450357
        displayName: asOfDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
  CustomerAccounts:
    displayName: CustomerAccounts
    description: A list of customer accounts
    type: object
    properties:
      accounts:
        required: true
        displayName: accounts
        description: List of customer accounts
        type: array
        items:
          type: CustomerAccount
  CustomerAccount:
    displayName: CustomerAccount
    description: An account represents a bank account such as a checking or savings that the customer has added via the Connect interface.
    type: object
    properties:
      id:
        required: true
        example:
          value: '5011648377'
        displayName: id
        description: An account ID
        type: string
      number:
        required: true
        example:
          value: '2000004444'
        displayName: number
        description: Use the `accountNumberDisplay` field. Starting July 1, 2021 the `number` field will sunset with limited support until April 1, 2022, at which time it will be deprecated (no longer available).
        type: string
      accountNumberDisplay:
        required: true
        example:
          value: 1234-9
        displayName: accountNumberDisplay
        description: |
          The account number from a financial institution in truncated format:

          * Last four digits: "1234"

          * Last four digits with suffix: "1234-9"

          * Full value for string accounts: "john@gmail.com"
        type: string
      realAccountNumberLast4:
        required: false
        example:
          value: '5678'
        displayName: realAccountNumberLast4
        description: The last 4 digits of the ACH account number
        type: string
      name:
        required: true
        example:
          value: Super Checking
        displayName: name
        description: The account name from the institution
        type: string
      balance:
        required: true
        example:
          value: 401.26
        displayName: balance
        description: The cleared balance of the account as of `balanceDate`
        type: number
        format: double
      type:
        required: true
        example:
          value: checking
        displayName: type
        description: |
          The list of supported account types.

          * "checking": Standard checking

          * "savings": Standard savings

          * "cd": Certificates of deposit

          * "moneyMarket": Money Market

          * "creditCard": Standard credit cards

          * "lineOfCredit": Home equity, line of credit

          * "investment": Generic investment (no details)

          * "investmentTaxDeferred": Generic tax-advantaged investment (no details)

          * "employeeStockPurchasePlan": ESPP, Employee Stock Ownership Plans (ESOP), Stock Purchase Plans

          * "ira": Individual Retirement Account (not Rollover or Roth)

          * "401k": 401K Plan

          * "roth": Roth IRA, Roth 401K

          * "403b": 403B Plan

          * "529plan": 529 Plan (True value is 529)

          * "rollover": Rollover IRA

          * "ugma": Uniform Gifts to Minors Act

          * "utma": Uniform Transfers to Minors Act

          * "keogh": Keogh Plan

          * "457plan": 457 Plan (True value is 457)

          * "401a": 401A Plan

          * "brokerageAccount": Brokerage Account

          * "educationSavings": Education Savings Account that is not a 529

          * "healthSavingsAccount": HSA (Health Savings Accounts)

          * "pension": Pension

          * "profitSharingPlan": Profit Sharing Plan

          * "roth401k": Roth 401K

          * "sepIRA": Simplified Employee Pension IRA

          * "simpleIRA": Simple IRA

          * "thriftSavingsPlan": Thrift Savings Plan

          * "variableAnnuity": Variable Annuity

          * "cryptocurrency": Cryptocurrency Wallet, Cryptocurrency Account

          * "mortgage": Standard Mortgages

          * "loan": Auto loans, equity loans, other loans

          * "studentLoan": Student Loan

          * "studentLoanGroup": Student Loan Group

          * "studentLoanAccount": Student Loan Account
        type: string
      aggregationStatusCode:
        required: false
        displayName: aggregationStatusCode
        description: The status of the most recent aggregation attempt (see [Aggregation Status Codes](https://docs.finicity.com/aggregation-status-codes/)). Won't be present until you have run your first aggregation for the account.
        type: integer
        format: int32
      status:
        required: true
        example:
          value: active
        displayName: status
        description: '"pending" during account discovery, always "active" following successful account activation'
        type: string
      customerId:
        required: true
        example:
          value: '1005061234'
        displayName: customerId
        description: A customer ID. See Add Customer API for how to create a customer ID.
        type: string
      institutionId:
        required: true
        example:
          value: '4222'
        displayName: institutionId
        description: The ID of a financial institution
        type: string
      balanceDate:
        required: true
        example:
          value: 1607450357
        displayName: balanceDate
        description: 'A timestamp showing when the balance was captured. A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      aggregationSuccessDate:
        required: false
        example:
          value: 1607450357
        displayName: aggregationSuccessDate
        description: 'A timestamp showing the last successful aggregation of the account. This will not be present until you have run your first aggregation for the account. A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      aggregationAttemptDate:
        required: false
        example:
          value: 1607450357
        displayName: aggregationAttemptDate
        description: 'A timestamp showing the last aggregation attempt, whether successful or not. This will not be present until you have run your first aggregation for the account. A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      createdDate:
        required: true
        example:
          value: 1607450357
        displayName: createdDate
        description: 'A timestamp showing when the account was added to the system. A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      currency:
        required: true
        example:
          value: USD
        displayName: currency
        description: A currency code
        type: string
      lastTransactionDate:
        required: false
        example:
          value: 1607450357
        displayName: lastTransactionDate
        description: 'The date of the latest transaction on the account. This will not be present until you have run your first aggregation for the account. A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      oldestTransactionDate:
        required: true
        example:
          value: 1607450357
        displayName: oldestTransactionDate
        description: 'The date of the oldest transaction in the transactions for the account. A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      institutionLoginId:
        required: true
        example:
          value: 1007302745
        displayName: institutionLoginId
        description: An institution login ID (from the account record), represented as a number
        type: integer
        format: int64
      detail:
        required: false
        displayName: detail
        description: Additional customer account details. Not all data points will return for each account type. You can see the account type that each data point will return for in descriptions. The data point are also subject to availability by the institution.
        type: CustomerAccountDetail
      position:
        required: false
        displayName: position
        description: Investment holdings
        type: array
        items:
          type: CustomerAccountPosition
      displayPosition:
        required: false
        example:
          value: 2
        displayName: displayPosition
        description: Display position of the account at the financial institution, "1" being the top listed account
        type: integer
        format: int32
      parentAccount:
        required: false
        example:
          value: '5011648377'
        displayName: parentAccount
        description: The assigned account ID for the account one level higher in the student loan account hierarchy
        type: string
  CustomerAccountPosition:
    displayName: CustomerAccountPosition
    description: Details for investment account holdings
    type: object
    properties:
      id:
        required: false
        example:
          value: 454678080
        displayName: id
        description: The id of the investment position
        type: integer
        format: int64
      description:
        required: false
        example:
          value: DELTA AIR LINES INC
        displayName: description
        description: The description of the holding
        type: string
      symbol:
        required: false
        example:
          value: DAL
        displayName: symbol
        description: The investment position's market ticker symbol
        type: string
      units:
        required: false
        example:
          value: 6.537
        displayName: units
        description: The number of units of the holding
        type: number
        format: double
      currentPrice:
        required: false
        example:
          value: 41.585
        displayName: currentPrice
        description: The current price of the investment holding
        type: number
        format: double
      securityName:
        required: false
        example:
          value: DELTA AIR LINES INC
        displayName: securityName
        description: The security name for the investment holding
        type: string
      transactionType:
        required: false
        example:
          value: Margin
        displayName: transactionType
        description: The transaction type of the holding, such as cash, margin, and more
        type: string
      marketValue:
        required: false
        example:
          value: 271.84
        displayName: marketValue
        description: Market value of an investment position at the time of retrieval
        type: number
        format: double
      costBasis:
        required: false
        example:
          value: 190.01
        displayName: costBasis
        description: The total cost of acquiring the security
        type: number
        format: double
      status:
        required: false
        example:
          value: A
        displayName: status
        description: The status of the holding
        type: string
      currentPriceDate:
        required: false
        example:
          value: 1607450357
        displayName: currentPriceDate
        description: 'A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      securityType:
        required: false
        example:
          value: Stock
        displayName: securityType
        description: Type of security for the investment position
        type: string
      mfType:
        required: false
        example:
          value: OPENEND
        displayName: mfType
        description: Type of mutual fund, such as open ended
        type: string
      posType:
        required: false
        example:
          value: Long
        displayName: posType
        description: Fund type assigned by the FI (long or short)
        type: string
      totalGLDollar:
        required: false
        example:
          value: 162742.9
        displayName: totalGLDollar
        description: Total gain and loss of the position at the time of aggregation in dollars
        type: number
        format: double
      totalGLPercent:
        required: false
        example:
          value: 68.89
        displayName: totalGLPercent
        description: Total gain and loss of the position at the time of aggregation in percentage
        type: number
        format: double
      optionStrikePrice:
        required: false
        example:
          value: 50
        displayName: optionStrikePrice
        description: The strike price of the option contract
        type: number
        format: double
      optionType:
        required: false
        example:
          value: PUT
        displayName: optionType
        description: The type of option contract (PUT or CALL)
        type: string
      optionSharesPerContract:
        required: false
        example:
          value: 100
        displayName: optionSharesPerContract
        description: The number of shares per option contract
        type: number
        format: double
      optionExpireDate:
        required: false
        example:
          value: '1644994800'
        displayName: optionExpireDate
        description: Expiration date of option
        type: date-only
      fiAssetClass:
        required: false
        example:
          value: COMNEQTY
        displayName: fiAssetClass
        description: Financial Institution (FI) defined asset class (COMMON STOCK, COMNEQTY, EQUITY/STOCK, CMA-ISA, CONVERTIBLE PREFERREDS, CORPORATE BONDS, OTHER MONEY FUNDS, ALLOCATION FUNDS, CMA-TAXABLE, FOREIGNEQUITYADRS, COMMONSTOCK, PREFERRED STOCKS, STABLE VALUE, FOREIGN EQUITY ADRS)
        type: string
      assetClass:
        required: false
        example:
          value: INTLSTOCK
        displayName: assetClass
        description: An asset class is a grouping of comparable financial securities. These include equities (stocks), fixed income (bonds), and cash equivalent or money market instruments. (DOMESTICBOND, LARGESTOCK, INTLSTOCK, MONEYMRKT, OTHER)
        type: string
      currencyRate:
        required: false
        example:
          value: 1
        displayName: currencyRate
        description: Currency rate, ratio of currency to original currency
        type: number
        format: double
      securityId:
        required: false
        example:
          value: 25400W102
        displayName: securityId
        description: The security ID of the transaction
        type: string
      securityIdType:
        required: false
        example:
          value: CUSIP
        displayName: securityIdType
        description: |
          The security type. This field is related to the `securityId` field. Possible values:

          * "CUSIP"


          * "ISIN"


          * "SEDOL"


          * "SICC"


          * "VALOR"


          * "WKN"
        type: string
      costBasisPerShare:
        required: false
        example:
          value: 13.38
        displayName: costBasisPerShare
        description: The per share cost of acquiring the security
        type: number
        format: double
      subAccountType:
        required: false
        example:
          value: CASH
        displayName: subAccountType
        description: The subaccount's type, such as cash
        type: string
      securityCurrency:
        required: false
        example:
          value: USD
        displayName: securityCurrency
        description: Symbol for the currency that the account is being converted into
        type: string
      todayGLDollar:
        required: false
        example:
          value: 16272.9
        displayName: todayGLDollar
        description: The current day's gain and loss of the position at the time of aggregation in dollars
        type: number
        format: double
      todayGLPercent:
        required: false
        example:
          value: 18.89
        displayName: todayGLPercent
        description: The current day's gain and loss of the position at the time of aggregation in percentage
        type: number
        format: double
  CustomerAccountDetail:
    displayName: CustomerAccountDetail
    description: Additional customer account details. Not all data points will return for each account type. You can see the account type that each data point will return for in descriptions. The data point are also subject to availability by the institution.
    type: object
    properties:
      dateAsOf:
        required: false
        example:
          value: 1607450357
        displayName: dateAsOf
        description: '(All Account Types) Most recent date of the following information. A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      availableBalanceAmount:
        required: true
        example:
          value: 5678.78
        displayName: availableBalanceAmount
        description: (Checking/Savings/CD/MoneyMarket) and (Mortgage/Loan) The available balance (typically the current balance with adjustments for any pending transactions)
        type: number
        format: double
      openDate:
        required: false
        example:
          value: 1607450357
        displayName: openDate
        description: '(Checking/Savings/CD/MoneyMarket) Date when account was opened. A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      periodStartDate:
        required: false
        example:
          value: 1607450357
        displayName: periodStartDate
        description: '(Checking/Savings/CD/MoneyMarket) Start date of period. A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      periodEndDate:
        required: false
        example:
          value: 1607450357
        displayName: periodEndDate
        description: 'End date of period. A date in Unix epoch time (in seconds). See: [Handling Epoch Dates and Times](https://docs.finicity.com/endpoint-syntax-and-format/).'
        type: integer
        format: int64
      periodInterestRate:
        required: false
        example:
          value: 13.245
        displayName: periodInterestRate
        description: (Checking/Savings/CD/MoneyMarket) The APY for the current period interest rate
        type: number
[...]
