{
  "openapi": "3.1.0",
  "info": {
    "title": "Finicity APIs",
    "description": "OpenAPI specification for Finicity APIs\n\n![](https://raw.githubusercontent.com/Mastercard/finicity-openapi/main/res/logo.png)",
    "contact": {
      "name": "Finicity",
      "url": "https://www.finicity.com/contact/",
      "email": "business.development@finicity.com"
    },
    "version": "1.8.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.finicity.com",
      "description": "Production",
      "variables": {}
    }
  ],
  "paths": {
    "/aggregation/v1/customers/{customerId}/institutionLogins/{institutionLoginId}/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "GetCustomerAccountsByInstitutionLogin",
        "description": "Get all accounts associated with the given institution login. All accounts returned are accessible by a single set of credentials on a single institution.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GetCustomerAccountsByInstitutionLogin",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "institutionLoginId",
            "in": "path",
            "description": "The institution login ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1007302745"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The account list was successfully retrieved",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CustomerAccounts"
                    },
                    {
                      "description": "A list of customer accounts"
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "RefreshCustomerAccountsByInstitutionLogin",
        "description": "Refresh account and transaction data for all accounts associated with a given `institutionLoginId` with a connection to the institution.\n\nClient apps are not permitted to automate calls to the Refresh services. Active accounts are automatically refreshed by Finicity once per day. Because many financial institutions only post transactions once per day, calling Refresh repeatedly is usually a waste of resources and is not recommended.\n\nApps may call Refresh services for a specific customer when there is a specific business case for the need of data that is up to date as of the moment. Please discuss with your account manager and systems engineer for further clarification.\n\nThe recommended timeout setting for this request is 120 seconds in order to receive a response. However, you can terminate the connection after making the call the operation will still complete. You will have to pull the account records to check for an updated aggregation attempt date to know when the refresh is complete.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "RefreshCustomerAccountsByInstitutionLogin",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "institutionLoginId",
            "in": "path",
            "description": "The institution login ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1007302745"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "No payload expected",
          "content": {
            "application/json": {
              "schema": {
                "description": "No payload expected",
                "contentMediaType": "application/json"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The account list was successfully refreshed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CustomerAccounts"
                    },
                    {
                      "description": "A list of customer accounts"
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/aggregation/v1/customers/{customerId}/institutionLogins/{institutionLoginId}": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "DeleteCustomerAccountsByInstitutionLogin",
        "description": "Remove from Finicity aggregation the set of accounts matching the institution login ID.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "DeleteCustomerAccountsByInstitutionLogin",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "institutionLoginId",
            "in": "path",
            "description": "The institution login ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1007302745"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The customer accounts were successfully deleted",
            "headers": {},
            "content": {}
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/aggregation/v2/customers/{customerId}/accounts/{accountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "GetCustomerAccount",
        "description": "Get a customer account by ID.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GetCustomerAccount",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "5011648377"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The account was successfully retrieved",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CustomerAccount"
                    },
                    {
                      "description": "An account represents a bank account such as a checking or savings that the customer has added via the Connect interface."
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/aggregation/v1/customers/{customerId}/accounts/{accountId}": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "DeleteCustomerAccount",
        "description": "Remove the given account from Finicity aggregation.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "DeleteCustomerAccount",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "5011648377"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The customer account was successfully deleted",
            "headers": {},
            "content": {}
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/aggregation/v1/customers/{customerId}/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "GetCustomerAccounts",
        "description": "Get all accounts owned by the given customer.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GetCustomerAccounts",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "A filter to fetch account in the given status",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "pending"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The account list was successfully retrieved",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CustomerAccounts"
                    },
                    {
                      "description": "A list of customer accounts"
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "RefreshCustomerAccounts",
        "description": "Refresh account and transaction data for all accounts associated with the  given `customerId` with a connection to the institution.\n\nClient apps are not permitted to automate calls to the Refresh services. Active accounts are automatically refreshed by Finicity once per day. Because many financial institutions only post transactions once per day, calling Refresh repeatedly is usually a waste of resources and is not recommended.\n\nApps may call Refresh services for a specific customer when there is a specific business case for the need of data that is up to date as of the moment. Please discuss with your account manager and systems engineer for further clarification.\n\nThe recommended timeout setting for this request is 120 seconds in order to receive a response. However, you can terminate the connection after making the call the operation will still complete. You will have to pull the account records to check for an updated aggregation attempt date to know when the refresh is complete.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "RefreshCustomerAccounts",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "No payload expected",
          "content": {
            "application/json": {
              "schema": {
                "description": "No payload expected",
                "contentMediaType": "application/json"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The account list was successfully refreshed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CustomerAccounts"
                    },
                    {
                      "description": "A list of customer accounts"
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/aggregation/v1/customers/{customerId}/institutions/{institutionId}/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "GetCustomerAccountsByInstitution",
        "description": "Get all active accounts owned by the given customer at the given institution.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GetCustomerAccountsByInstitution",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "institutionId",
            "in": "path",
            "description": "The institution ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "contentEncoding": "int64",
              "examples": [
                4222
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The account list was successfully retrieved",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CustomerAccounts"
                    },
                    {
                      "description": "A list of customer accounts"
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/analytics/ca360/v1/customers/{customerId}/analytics": {
      "post": {
        "tags": [
          "Analytics and Attributes"
        ],
        "summary": "GenerateConsumerAttributes",
        "description": "Generate a Consumer Attributes report for the given customer. The \"to\" and \"from\" date range is the last 12 months of consumer data, based on the date at which the report was generated.\n\nAn analytic ID is created and associated with the customer's ID. If you generate multiple Consumer Attributes reports for the same customer, then each report will have its own analytic ID.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GenerateConsumerAttributes",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsumerAttributeAccountIDs"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The Consumer Attributes report was successfully generated",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ConsumerAttributesAnalyticId"
                    },
                    {
                      "description": "An analytic ID and a date"
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Analytics and Attributes"
        ],
        "summary": "ListConsumerAttributes",
        "description": "Retrieve a list of all analytic IDs previously created for a customer using the Generate Consumer Attributes APIs.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "ListConsumerAttributes",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attributes IDs were successfully retrieved",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumerAttributeList"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/analytics/ca360/v1/customers/{customerId}/analytics/fcra": {
      "post": {
        "tags": [
          "Analytics and Attributes"
        ],
        "summary": "GenerateFCRAConsumerAttributes",
        "description": "_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GenerateFCRAConsumerAttributes",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsumerAttributeAccountIDs"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The Consumer Attributes report was successfully generated",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ConsumerAttributesAnalyticId"
                    },
                    {
                      "description": "An analytic ID and a date"
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/analytics/ca360/v1/customers/{customerId}/analytics/{analyticsId}": {
      "get": {
        "tags": [
          "Analytics and Attributes"
        ],
        "summary": "GetConsumerAttributesByID",
        "description": "Retrieve a Consumer Attributes report for a customer.\n\nUse the analytic and customer IDs to retrieve 12 months of data attributes according to the \"to\" and \"from\" date range of the report at the time it was created. \n\nIf the current date is before the end of the calendar month, then the most recent month provides all available data up to the current date.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GetConsumerAttributesByID",
        "parameters": [
          {
            "name": "analyticsId",
            "in": "path",
            "description": "The analytic ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "CA-5dfbaa3ac-5321"
              ]
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Consumer Attributes report was successfully retrieved",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumerAttributes"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/analytics/ca360/v1/customers/{customerId}/analytics/{analyticsId}/fcra": {
      "get": {
        "tags": [
          "Analytics and Attributes"
        ],
        "summary": "GetFCRAConsumerAttributesByID",
        "description": "Retrieve a FCRA Consumer Attributes report for a customer.\n\nUse the analytic and customer IDs to retrieve 12 months of FCRA data attributes according to the `To` and `From` date range of the report at the time it was created. \n\nIf the current date is before the end of the calendar month, then the most recent month provides all available data up to the current date.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GetFCRAConsumerAttributesByID",
        "parameters": [
          {
            "name": "analyticsId",
            "in": "path",
            "description": "The analytic ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "CA-5dfbaa3ac-5321"
              ]
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "purpose",
            "in": "query",
            "description": "2-digit code from [Permissible Purpose Codes](https://docs.finicity.com/permissible-purpose-codes/), specifying the reason for retrieving this report. Required for retrieving some reports.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "99"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Consumer Attributes report was successfully retrieved",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumerAttributes"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/aggregation/v1/partners/applications": {
      "post": {
        "tags": [
          "App Registration"
        ],
        "summary": "RegisterApp",
        "description": "Register a new application to access financial institutions using OAuth connections.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "RegisterApp",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The app registration was successfully created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredApplication"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/aggregation/v1/partners/applications/{preAppId}": {
      "put": {
        "tags": [
          "App Registration"
        ],
        "summary": "ModifyAppRegistration",
        "description": "Update a registered application.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "ModifyAppRegistration",
        "parameters": [
          {
            "name": "preAppId",
            "in": "path",
            "description": "The application registration tracking ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "2581"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The app registration was updated",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredApplication"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/aggregation/v2/partners/applications": {
      "get": {
        "tags": [
          "App Registration"
        ],
        "summary": "GetAppRegistrationStatus",
        "description": "Get the status of your application registration(s).\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GetAppRegistrationStatus",
        "parameters": [
          {
            "name": "preAppId",
            "in": "query",
            "description": "The application registration tracking ID",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "2581"
              ]
            }
          },
          {
            "name": "applicationId",
            "in": "query",
            "description": "The application ID",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "123456789"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Look up app registration requests by status",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "P"
              ]
            }
          },
          {
            "name": "appName",
            "in": "query",
            "description": "Look up app registration requests by app name",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "Awesome Budget App"
              ]
            }
          },
          {
            "name": "submittedDate",
            "in": "query",
            "description": "Look up app registration requests by the date they were submitted",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int64",
              "examples": [
                1607450357
              ]
            }
          },
          {
            "name": "modifiedDate",
            "in": "query",
            "description": "Look up app registration requests by the date the request was updated. This can be used to determine when a request was updated to \"A\" or \"R\".",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int64",
              "examples": [
                1607450357
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Index of the page of results to return",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "default": 1,
              "examples": [
                1
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Maximum number of results per page",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "default": 1,
              "examples": [
                20
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The app registration statuses were returned",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AppStatuses"
                    },
                    {
                      "description": "The response for the Get App Registration Status API which returns an array of status objects"
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/aggregation/v1/customers/{customerId}/applications/{applicationId}": {
      "put": {
        "tags": [
          "App Registration"
        ],
        "summary": "SetCustomerAppID",
        "description": "If you have multiple applications for a single client, and you want to register their applications to access financial institutions using OAuth connections, then use this API to assign applications to an existing customer.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "SetCustomerAppID",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "123456789"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "No payload expected",
          "content": {
            "application/json": {
              "schema": {
                "description": "No payload expected",
                "contentMediaType": "application/json"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The app was successfully assigned",
            "headers": {},
            "content": {}
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/aggregation/v2/customers/{customerId}/institutionLogins/{institutionLoginId}/migration": {
      "put": {
        "tags": [
          "App Registration"
        ],
        "summary": "MigrateInstitutionLoginAccounts",
        "description": "The `institutionLoginId` parameter uses Finicity's internal FI mapping to move accounts from the current FI legacy connection to the new OAuth FI connection.\n\nThis API returns a list of accounts for the given institution login ID.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "MigrateInstitutionLoginAccounts",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "institutionLoginId",
            "in": "path",
            "description": "The institution login ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1007302745"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "No payload expected",
          "content": {
            "application/json": {
              "schema": {
                "description": "No payload expected",
                "contentMediaType": "application/json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The migration succeeded",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CustomerAccounts"
                    },
                    {
                      "description": "A list of customer accounts"
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/aggregation/v1/customers/{customerId}/assets/{assetId}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "GetAssetByCustomerID",
        "description": "Retrieve a binary file for the given asset ID.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GetAssetByCustomerID",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "The asset ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "097545c5-1c2a-4f20-a5ef-77f0820344c9-2018601178"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The asset was successfully downloaded",
            "headers": {},
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "base64",
                  "contentMediaType": "application/octet-stream"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/aggregation/v2/partners/authentication": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "CreateToken",
        "description": "Send Partner ID and Partner Secret to the Partner Authentication service to obtain a token for accessing Finicity APIs.\n* The token is valid for two hours and is required on all calls to the Finicity APIs\n* As a best practice, use a single token for all calls. Assign a timestamp for each token, and then check the current timestamp before making any calls. If the token is greater than 90 minutes, generate a new one.\n* ⚠️ After five failed attempts to authenticate, your account will be locked. Contact [support@finicity.com](mailto:support@finicity.com) to get help resetting your account.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "CreateToken",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerCredentials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The access token was successfully created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AccessToken"
                    },
                    {
                      "description": "A temporary access token to be passed in the `Finicity-App-Token` HTTP header of all subsequent API requests"
                    }
                  ],
                  "contentMediaType": "application/json"
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check Partner ID, Partner Secret or Finicity-App-Key.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "FinicityAppKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "Authentication"
        ],
        "summary": "ModifyPartnerSecret",
        "description": "Change the Partner Secret used to authenticate this partner.\n\nThe secret does not expire, but can be changed by calling this API. A valid Partner Secret may contain upper and lowercase characters, numbers, and the characters !, @, #, $, %, &, *, _, -, +. It must include at least one number and at least one letter, and its length should be between 12 and 255 characters.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "ModifyPartnerSecret",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerCredentialsWithNewSecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The Partner Secret was successfully updated",
            "headers": {},
            "content": {}
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check Partner ID, Partner Secret or Finicity-App-Key.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "FinicityAppKey": []
          }
        ]
      },
      "parameters": []
    },
    "/analytics/balance/v1/customer/{customerId}": {
      "post": {
        "tags": [
          "Balance Analytics"
        ],
        "summary": "GenerateBalanceAnalytics",
        "description": "Balance Analytics for Business analyzes bank balances over time to report metrics and identify behavior that may indicate risk.\n\nCalculated metrics include:\n* Current/available account balances\n* Minimum/maximum/average account balances over the requested time\n  period and broken down by month\n\n* Daily ending balance of accounts for each day in the requested time\n  period\n\n* Propensity of the customer's account balances to increase week over\n  week\n\n* Number of days in the requested time period ending with a negative\n  balance\n\n\nThis version of the API is intended for piloting and integration testing your application with the Balance Analytics product. It does not adhere to FCRA requirements, and should not be used for production/lending purposes. See _Generate Balance Analytics - FCRA_ for the FCRA compliant version of this API.\n\nA successful call to this API will generate analytics and store a report within Finicity. The report can be retrieved via _Get Balance Analytics Report_ (operation: _GetObbAnalyticsReport_).\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GenerateBalanceAnalytics",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "reference-number",
            "in": "query",
            "description": "Partner-provided reference number to correlate reports.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "abc123"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceAndCashFlowAnalyticsReportConstraints"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response given when balance analytics were generated successfully, providing the caller with a report ID which can be used to retrieve the report as JSON or a PDF.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BalanceAndCashFlowAnalyticsReportAck"
                    },
                    {
                      "description": "Response given when analtyics were generated successfully, providing the caller with a report ID which can be used to retrieve the report as JSON or a PDF.",
                      "examples": [
                        {
                          "accountIds": [
                            10001,
                            10002,
                            10003
                          ],
                          "businessId": 123,
                          "createdDate": "2022-02-10T05:00:00-07:00",
                          "customerId": 10001,
                          "reportId": "145cabe0-2b38-4175-9b7e-115431359839",
                          "reportPin": "qert",
                          "requesterName": "Mortage ABC LLC",
                          "title": "Finicity Balance Analytics"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "GenerateBalanceAnalyticsResponseExample": {
                    "value": {
                      "accountIds": [
                        10001,
                        10002,
                        10003
                      ],
                      "businessId": 123,
                      "createdDate": "2022-02-10T05:00:00-07:00",
                      "customerId": 10001,
                      "reportId": "145cabe0-2b38-4175-9b7e-115431359839",
                      "reportPin": "qert",
                      "requesterName": "Mortage ABC LLC",
                      "title": "Finicity Balance Analytics"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A bad request was provided",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ObbErrorMessage"
                    },
                    {
                      "description": "OBB Error response message",
                      "examples": [
                        {
                          "errorCode": 400,
                          "message": "Missing required parameter 'customerId'"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "ObbBadRequestResponseExample": {
                    "value": {
                      "errorCode": 400,
                      "message": "Missing required parameter 'customerId'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ObbErrorMessage"
                    },
                    {
                      "description": "OBB Error response message",
                      "examples": [
                        {
                          "errorCode": 401,
                          "message": "Invalid Finicity-App-Key"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "ObbUnauthorizedResponseExample": {
                    "value": {
                      "errorCode": 401,
                      "message": "Invalid Finicity-App-Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ObbErrorMessage"
                    },
                    {
                      "description": "OBB Error response message",
                      "examples": [
                        {
                          "errorCode": 403,
                          "message": "Partner does not have access to this resource"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "ObbAccessForbiddenResponseExample": {
                    "value": {
                      "errorCode": 403,
                      "message": "Partner does not have access to this resource"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ObbErrorMessage"
                    },
                    {
                      "description": "OBB Error response message",
                      "examples": [
                        {
                          "errorCode": 404,
                          "message": "Customer not found"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "ObbResourceNotFoundResponseExample": {
                    "value": {
                      "errorCode": 404,
                      "message": "Customer not found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ObbErrorMessage"
                    },
                    {
                      "description": "OBB Error response message",
                      "examples": [
                        {
                          "errorCode": 409,
                          "message": "Customer is not registered as a business"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "ObbResourceConflictResponseExample": {
                    "value": {
                      "errorCode": 409,
                      "message": "Customer is not registered as a business"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/analytics/balance/v1/customer/{customerId}/fcra": {
      "post": {
        "tags": [
          "Balance Analytics"
        ],
        "summary": "GenerateBalanceAnalyticsFcra",
        "description": "Balance Analytics for Business analyzes bank balances over time to report metrics and identify behavior that may indicate risk.\n\nCalculated metrics include:\n* Current/available account balances\n* Minimum/maximum/average account balances over the requested time\n  period and broken down by month\n\n* Daily ending balance of accounts for each day in the requested time\n  period\n\n* Propensity of the customer's account balances to increase week over\n  week\n\n* Number of days in the requested time period ending with a negative\n  balance\n\n\nThis version of the API is intended for production use. It maintains and enforces all compliance with FCRA rules and requirements.\n\n*Note:* this is a premium service, billable per every successful API call for non-testing customers.\n\nA successful call to this API will generate analytics and store a report within Finicity. The report can be retrieved via _Get Balance Analytics Report - FCRA_ (operation: _GetObbAnalyticsReportFCRA_).\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GenerateBalanceAnalyticsFcra",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "reference-number",
            "in": "query",
            "description": "Partner-provided reference number to correlate reports.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "abc123"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceAndCashFlowAnalyticsReportConstraints"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response given when balance analytics (FCRA) were generated successfully, providing the caller with a report ID which can be used to retrieve the report as JSON or a PDF.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BalanceAndCashFlowAnalyticsReportAck"
                    },
                    {
                      "description": "Response given when analtyics were generated successfully, providing the caller with a report ID which can be used to retrieve the report as JSON or a PDF.",
                      "examples": [
                        {
                          "accountIds": [
                            10001,
                            10002,
                            10003
                          ],
                          "businessId": 123,
                          "createdDate": "2022-02-10T05:00:00-07:00",
                          "customerId": 10001,
                          "reportId": "145cabe0-2b38-4175-9b7e-115431359839",
                          "reportPin": "qert",
                          "requesterName": "Mortage ABC LLC",
                          "title": "Finicity Balance Analytics"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "GenerateBalanceAnalyticsFcraResponseExample": {
                    "value": {
                      "accountIds": [
                        10001,
                        10002,
                        10003
                      ],
                      "businessId": 123,
                      "createdDate": "2022-02-10T05:00:00-07:00",
                      "customerId": 10001,
                      "reportId": "145cabe0-2b38-4175-9b7e-115431359839",
                      "reportPin": "qert",
                      "requesterName": "Mortage ABC LLC",
                      "title": "Finicity Balance Analytics"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A bad request was provided",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ObbErrorMessage"
                    },
                    {
                      "description": "OBB Error response message",
                      "examples": [
                        {
                          "errorCode": 400,
                          "message": "Missing required parameter 'customerId'"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "ObbBadRequestResponseExample": {
                    "value": {
                      "errorCode": 400,
                      "message": "Missing required parameter 'customerId'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ObbErrorMessage"
                    },
                    {
                      "description": "OBB Error response message",
                      "examples": [
                        {
                          "errorCode": 401,
                          "message": "Invalid Finicity-App-Key"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "ObbUnauthorizedResponseExample": {
                    "value": {
                      "errorCode": 401,
                      "message": "Invalid Finicity-App-Key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ObbErrorMessage"
                    },
                    {
                      "description": "OBB Error response message",
                      "examples": [
                        {
                          "errorCode": 403,
                          "message": "Partner does not have access to this resource"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "ObbAccessForbiddenResponseExample": {
                    "value": {
                      "errorCode": 403,
                      "message": "Partner does not have access to this resource"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ObbErrorMessage"
                    },
                    {
                      "description": "OBB Error response message",
                      "examples": [
                        {
                          "errorCode": 404,
                          "message": "Customer not found"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "ObbResourceNotFoundResponseExample": {
                    "value": {
                      "errorCode": 404,
                      "message": "Customer not found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ObbErrorMessage"
                    },
                    {
                      "description": "OBB Error response message",
                      "examples": [
                        {
                          "errorCode": 409,
                          "message": "Customer is not registered as a business"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "ObbResourceConflictResponseExample": {
                    "value": {
                      "errorCode": 409,
                      "message": "Customer is not registered as a business"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/analytics/data/v1/{obb_report_id}": {
      "get": {
        "tags": [
          "Balance Analytics",
          "Cash Flow Analytics"
        ],
        "summary": "GetObbAnalyticsReport",
        "description": "Retrieve the report saved by _Generate Balance Analytics_ or _Generate Cash Flow Analytics_. Requires the report ID generated by the previous call.\n\nReport data can either be retrieved as a JSON document or PDF file.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GetObbAnalyticsReport",
        "parameters": [
          {
            "name": "obb_report_id",
            "in": "path",
            "description": "Report ID generated and returned by OBB products",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "bcab9592-e032-4e7b-b737-0380619a0573"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OBB Analytics report data as JSON or PDF",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObbAnalyticsReportResponse"
                }
              },
              "application/pdf": {
                "schema": {
                  "contentMediaType": "application/pdf"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/analytics/data/v1/{obb_report_id}/fcra": {
      "get": {
        "tags": [
          "Balance Analytics",
          "Cash Flow Analytics"
        ],
        "summary": "GetObbAnalyticsReportFcra",
        "description": "Retrieve the report saved by _Generate Balance Analytics - FCRA_ or _Generate Cash Flow Analytics - FCRA_. Requires the report ID generated by the previous call.\n\nReport data can either be retrieved as a JSON document or PDF file.\n\n*Note:* this is a premium service, billable per every successful API call for non-testing customers.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GetObbAnalyticsReportFcra",
        "parameters": [
          {
            "name": "obb_report_id",
            "in": "path",
            "description": "Report ID generated and returned by OBB products",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "bcab9592-e032-4e7b-b737-0380619a0573"
              ]
            }
          },
          {
            "name": "purpose",
            "in": "query",
            "description": "2-digit code from [Permissible Purpose Codes](https://docs.finicity.com/permissible-purpose-codes/), specifying the reason for retrieving this report. Required for retrieving some reports.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OBB Analytics FCRA report data as JSON or PDF",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObbAnalyticsReportFcraResponse"
                }
              },
              "application/pdf": {
                "schema": {
                  "contentMediaType": "application/pdf"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/aggregation/v1/customers/{customerId}/accounts/{accountId}/statement": {
      "get": {
        "tags": [
          "Bank Statements"
        ],
        "summary": "GetCustomerAccountStatement",
        "description": "Retrieve the customer's bank statements in PDF format. Up to 24 months of history is available depending on the financial institution. Since this is a premium service, charges incur per each successful statement retrieved. \n\nFor certified financial institutions, statements are available for the following account types:\n* Checking\n* Savings\n* Money market\n* CDs\n* Investments\n* Mortgage\n* Credit cards\n* Loans\n* Line of credit\n* Student Loans\n\nNote: setting the timeout to 180 seconds is recommended to allow enough time for a response.\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GetCustomerAccountStatement",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "5011648377"
              ]
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Request statements from 1-24. By default, 1 is the most recent statement. Increase the index value to count back (by month) and retrieve its most recent statement.",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 24.0,
              "type": "integer",
              "contentEncoding": "int32",
              "default": 1,
              "examples": [
                1
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of statement to retrieve",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "taxStatement"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The statement was successfully downloaded as a PDF file",
            "headers": {},
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "base64",
                  "contentMediaType": "application/octet-stream"
                }
              }
            }
          },
          "203": {
            "description": "The response contains an MFA challenge in XML or JSON format. Contact your Account Manager or Systems Engineers to determine the best route to handle this error.",
            "headers": {},
            "content": {}
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/decisioning/v2/customers/{customerId}/statement": {
      "post": {
        "tags": [
          "Bank Statements"
        ],
        "summary": "GenerateStatementReport",
        "description": "Generate a Statement Report report for the given accounts under the given customer.\n\nThis is a premium service. A billable event will be created upon the successful generation of the Statement Report. \n\nBefore calling this API, a consumer must be created for the given customer ID (see Consumers APIs).\n\n_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)",
        "operationId": "GenerateStatementReport",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "A customer ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "1005061234"
              ]
            }
          },
          {
            "name": "callbackUrl",
            "in": "query",
            "description": "A Report Listener URL to receive notifications. The webhook must respond to the Finicity API with a 2xx HTTP status code.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "examples": [
                "https://finicity-test/webhook"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/StatementReportConstraints"
                  },
                  {
                    "examples": [
                      {
                        "statementReportData": {
                          "accountId": 1000076901,
                          "index": 1
                        },
                        "reportCustomFields": [
                          {
                            "label": "loanID",
                            "value": "123456",
                            "shown": true
                          }
                        ]
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "examples": {
                "GenerateStatementReportRequestExample": {
                  "value": {
                    "statementReportData": {
                      "accountId": 1000076901,
                      "index": 1
                    },
                    "reportCustomFields": [
                      {
                        "label": "loanID",
                        "value": "123456",
                        "shown": true
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "The report is being generated. When finished, a notification will be sent to the specified callback URL (Report Listener Service) and the report can be fetched using Get Report APIs. If you don't use a callback URL, Get Report returns a minimal report with the following status: 'inProgress'. Repeat the call every 20 seconds until Get Report returns a different status.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StatementReportAck"
                    },
                    {
                      "examples": [
                        {
                          "id": "38dknche83oh-statement",
                          "portfolioId": "sy7aa68w2ugx-1-port",
                          "customerType": "active",
                          "customerId": 1010560999,
                          "requestId": "ny7x32stfq",
                          "requesterName": "Demo",
                          "createdDate": 1596226182,
                          "title": "Finicity Statement Report",
                          "consumerId": "555595ec74c8ec57adf44dadddb6a35",
                          "consumerSsn": "1234",
                          "constraints": {
                            "statementReportData": {
                              "accountId": 1000076901,
                              "index": 1
                            },
                            "reportCustomFields": [
                              {
                                "label": "loanID",
                                "value": "123456",
                                "shown": true
                              }
                            ]
                          },
                          "type": "statement",
                          "status": "inProgress"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "GenerateStatementReportResponseExample": {
                    "value": {
                      "id": "38dknche83oh-statement",
                      "portfolioId": "sy7aa68w2ugx-1-port",
                      "customerType": "active",
                      "customerId": 1010560999,
                      "requestId": "ny7x32stfq",
                      "requesterName": "Demo",
                      "createdDate": 1596226182,
                      "title": "Finicity Statement Report",
                      "consumerId": "555595ec74c8ec57adf44dadddb6a35",
                      "consumerSsn": "1234",
                      "constraints": {
                        "statementReportData": {
                          "accountId": 1000076901,
                          "index": 1
                        },
                        "reportCustomFields": [
                          {
                            "label": "loanID",
                            "value": "123456",
                            "shown": true
                          }
                        ]
                      },
                      "type": "statement",
                      "status": "inProgress"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was rejected",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401": {
            "description": "The request lacks valid authentication credentials. Check \"Finicity-App-Key\" or \"Finicity-App-Token\".",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404": {
            "description": "The resource doesn't exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/decisioning/v2/customers/{customerId}/cashFlowBusiness": {
      "post": {
        "tags": [
          "Cash Flow"
        ],
        "summary": "GenerateCashFlowBusinessReport",
[...]
