FORMAT: 1A
HOST: https://api.finicity.com

# Finicity APIs
OpenAPI specification for Finicity APIs

![](https://raw.githubusercontent.com/Mastercard/finicity-openapi/main/res/logo.png)

## Authentication
This API uses Custom Header for its authentication.

The parameters that are needed to be sent for this type of authentication are as follows:
+ `Finicity-App-Key` - The "Finicity-App-Key" from the developer dashboard
+ `Finicity-App-Token` - A token returned by the `/authentication` API

# Group Accounts

Fetch or refresh customer accounts

## Aggregation V1 Customers InstitutionLogins Accounts [/aggregation/v1/customers/{customerId}/institutionLogins/{institutionLoginId}/accounts]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + institutionLoginId (string, required)

        The institution login ID

        + Sample: 1007302745

### GetCustomerAccountsByInstitutionLogin [GET]
Get all accounts associated with the given institution login. All accounts returned are accessible by a single set of credentials on a single institution.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The account list was successfully retrieved

    + Attributes (CustomerAccounts)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)



### RefreshCustomerAccountsByInstitutionLogin [POST]
Refresh account and transaction data for all accounts associated with a given `institutionLoginId` with a connection to the institution.

Client apps are not permitted to automate calls to the Refresh services. Active accounts are automatically refreshed by Finicity once per day. Because many financial institutions only post transactions once per day, calling Refresh repeatedly is usually a waste of resources and is not recommended.

Apps may call Refresh services for a specific customer when there is a specific business case for the need of data that is up to date as of the moment. Please discuss with your account manager and systems engineer for further clarification.

The recommended timeout setting for this request is 120 seconds in order to receive a response. However, you can terminate the connection after making the call the operation will still complete. You will have to pull the account records to check for an updated aggregation attempt date to know when the refresh is complete.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (application/json)

    + Attributes (string)



+ Response 200 (application/json)

        The account list was successfully refreshed

    + Attributes (CustomerAccounts)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V1 Customers InstitutionLogins [/aggregation/v1/customers/{customerId}/institutionLogins/{institutionLoginId}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + institutionLoginId (string, required)

        The institution login ID

        + Sample: 1007302745

### DeleteCustomerAccountsByInstitutionLogin [DELETE]
Remove from Finicity aggregation the set of accounts matching the institution login ID.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 204 

        The customer accounts were successfully deleted




+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V2 Customers Accounts [/aggregation/v2/customers/{customerId}/accounts/{accountId}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + accountId (string, required)

        The account ID

        + Sample: 5011648377

### GetCustomerAccount [GET]
Get a customer account by ID.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The account was successfully retrieved

    + Attributes (CustomerAccount)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V1 Customers Accounts [/aggregation/v1/customers/{customerId}/accounts/{accountId}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + accountId (string, required)

        The account ID

        + Sample: 5011648377

### DeleteCustomerAccount [DELETE]
Remove the given account from Finicity aggregation.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 204 

        The customer account was successfully deleted




+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V1 Customers Accounts [/aggregation/v1/customers/{customerId}/accounts{?status}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GetCustomerAccounts [GET]
Get all accounts owned by the given customer.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + status (string, optional)

        A filter to fetch account in the given status

        + Sample: pending

+ Response 200 (application/json)

        The account list was successfully retrieved

    + Attributes (CustomerAccounts)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V1 Customers Accounts [/aggregation/v1/customers/{customerId}/accounts]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### RefreshCustomerAccounts [POST]
Refresh account and transaction data for all accounts associated with the  given `customerId` with a connection to the institution.

Client apps are not permitted to automate calls to the Refresh services. Active accounts are automatically refreshed by Finicity once per day. Because many financial institutions only post transactions once per day, calling Refresh repeatedly is usually a waste of resources and is not recommended.

Apps may call Refresh services for a specific customer when there is a specific business case for the need of data that is up to date as of the moment. Please discuss with your account manager and systems engineer for further clarification.

The recommended timeout setting for this request is 120 seconds in order to receive a response. However, you can terminate the connection after making the call the operation will still complete. You will have to pull the account records to check for an updated aggregation attempt date to know when the refresh is complete.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (application/json)

    + Attributes (string)



+ Response 200 (application/json)

        The account list was successfully refreshed

    + Attributes (CustomerAccounts)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V1 Customers Institutions Accounts [/aggregation/v1/customers/{customerId}/institutions/{institutionId}/accounts]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + institutionId (number, required)

        The institution ID

        + Sample: 4222

### GetCustomerAccountsByInstitution [GET]
Get all active accounts owned by the given customer at the given institution.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The account list was successfully retrieved

    + Attributes (CustomerAccounts)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)





# Group Analytics and Attributes

Generate and fetch consumer attributes (Beta)

## Analytics Ca360 V1 Customers Analytics [/analytics/ca360/v1/customers/{customerId}/analytics]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GenerateConsumerAttributes [POST]
Generate a Consumer Attributes report for the given customer. The "to" and "from" date range is the last 12 months of consumer data, based on the date at which the report was generated.

An analytic ID is created and associated with the customer's ID. If you generate multiple Consumer Attributes reports for the same customer, then each report will have its own analytic ID.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (application/json)

    + Attributes (ConsumerAttributeAccountIDs)



+ Response 200 (application/json)

        The Consumer Attributes report was successfully generated

    + Attributes (ConsumerAttributesAnalyticId)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)



### ListConsumerAttributes [GET]
Retrieve a list of all analytic IDs previously created for a customer using the Generate Consumer Attributes APIs.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        Attributes IDs were successfully retrieved

    + Attributes (ConsumerAttributeList)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Analytics Ca360 V1 Customers Analytics Fcra [/analytics/ca360/v1/customers/{customerId}/analytics/fcra]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GenerateFCRAConsumerAttributes [POST]
_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (application/json)

    + Attributes (ConsumerAttributeAccountIDs)



+ Response 200 (application/json)

        The Consumer Attributes report was successfully generated

    + Attributes (ConsumerAttributesAnalyticId)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Analytics Ca360 V1 Customers Analytics [/analytics/ca360/v1/customers/{customerId}/analytics/{analyticsId}]

+ Parameters
    + analyticsId (string, required)

        The analytic ID

        + Sample: CA-5dfbaa3ac-5321
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GetConsumerAttributesByID [GET]
Retrieve a Consumer Attributes report for a customer.

Use the analytic and customer IDs to retrieve 12 months of data attributes according to the "to" and "from" date range of the report at the time it was created. 

If the current date is before the end of the calendar month, then the most recent month provides all available data up to the current date.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The Consumer Attributes report was successfully retrieved

    + Attributes (ConsumerAttributes)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Analytics Ca360 V1 Customers Analytics Fcra [/analytics/ca360/v1/customers/{customerId}/analytics/{analyticsId}/fcra{?purpose}]

+ Parameters
    + analyticsId (string, required)

        The analytic ID

        + Sample: CA-5dfbaa3ac-5321
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GetFCRAConsumerAttributesByID [GET]
Retrieve a FCRA Consumer Attributes report for a customer.

Use the analytic and customer IDs to retrieve 12 months of FCRA data attributes according to the `To` and `From` date range of the report at the time it was created. 

If the current date is before the end of the calendar month, then the most recent month provides all available data up to the current date.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + purpose (string, optional)

        2-digit code from [Permissible Purpose Codes](https://docs.finicity.com/permissible-purpose-codes/), specifying the reason for retrieving this report. Required for retrieving some reports.

        + Sample: 99

+ Response 200 (application/json)

        The Consumer Attributes report was successfully retrieved

    + Attributes (ConsumerAttributes)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)





# Group App Registration

Register and assign apps to customers

## Aggregation V1 Partners Applications [/aggregation/v1/partners/applications]

### RegisterApp [POST]
Register a new application to access financial institutions using OAuth connections.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (Application)



+ Response 201 (application/json)

        The app registration was successfully created

    + Attributes (RegisteredApplication)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)




## Aggregation V1 Partners Applications [/aggregation/v1/partners/applications/{preAppId}]

+ Parameters
    + preAppId (string, required)

        The application registration tracking ID

        + Sample: 2581

### ModifyAppRegistration [PUT]
Update a registered application.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (Application)



+ Response 200 (application/json)

        The app registration was updated

    + Attributes (RegisteredApplication)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V2 Partners Applications [/aggregation/v2/partners/applications{?preAppId,applicationId,status,appName,submittedDate,modifiedDate,page,pageSize}]

### GetAppRegistrationStatus [GET]
Get the status of your application registration(s).

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + preAppId (string, optional)

        The application registration tracking ID

        + Sample: 2581
    + applicationId (string, optional)

        The application ID

        + Sample: 123456789
    + status (string, optional)

        Look up app registration requests by status

        + Sample: P
    + appName (string, optional)

        Look up app registration requests by app name

        + Sample: Awesome Budget App
    + submittedDate (number, optional)

        Look up app registration requests by the date they were submitted

        + Sample: 1607450357
    + modifiedDate (number, optional)

        Look up app registration requests by the date the request was updated. This can be used to determine when a request was updated to "A" or "R".

        + Sample: 1607450357
    + page (number, optional) -

        Index of the page of results to return

        + Default: 1
        + Sample: 1
    + pageSize (number, optional) -

        Maximum number of results per page

        + Default: 1
        + Sample: 20

+ Response 200 (application/json)

        The app registration statuses were returned

    + Attributes (AppStatuses)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V1 Customers Applications [/aggregation/v1/customers/{customerId}/applications/{applicationId}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + applicationId (string, required)

        The application ID

        + Sample: 123456789

### SetCustomerAppID [PUT]
If you have multiple applications for a single client, and you want to register their applications to access financial institutions using OAuth connections, then use this API to assign applications to an existing customer.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (application/json)

    + Attributes (string)



+ Response 200 

        The app was successfully assigned




+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V2 Customers InstitutionLogins Migration [/aggregation/v2/customers/{customerId}/institutionLogins/{institutionLoginId}/migration]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + institutionLoginId (string, required)

        The institution login ID

        + Sample: 1007302745

### MigrateInstitutionLoginAccounts [PUT]
The `institutionLoginId` parameter uses Finicity's internal FI mapping to move accounts from the current FI legacy connection to the new OAuth FI connection.

This API returns a list of accounts for the given institution login ID.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (string)



+ Response 200 (application/json)

        The migration succeeded

    + Attributes (CustomerAccounts)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)





# Group Assets

Download asset files

## Aggregation V1 Customers Assets [/aggregation/v1/customers/{customerId}/assets/{assetId}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + assetId (string, required)

        The asset ID

        + Sample: 097545c5-1c2a-4f20-a5ef-77f0820344c9-2018601178

### GetAssetByCustomerID [GET]
Retrieve a binary file for the given asset ID.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/octet-stream)

        The asset was successfully downloaded




+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)





# Group Authentication

Generate authentication tokens and manage credentials

## Aggregation V2 Partners Authentication [/aggregation/v2/partners/authentication]

### CreateToken [POST]
Send Partner ID and Partner Secret to the Partner Authentication service to obtain a token for accessing Finicity APIs.
* The token is valid for two hours and is required on all calls to the Finicity APIs
* As a best practice, use a single token for all calls. Assign a timestamp for each token, and then check the current timestamp before making any calls. If the token is greater than 90 minutes, generate a new one.
* ⚠️ After five failed attempts to authenticate, your account will be locked. Contact [support@finicity.com](mailto:support@finicity.com) to get help resetting your account.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (PartnerCredentials)



+ Response 200 (application/json)

        The access token was successfully created

    + Attributes (AccessToken)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check Partner ID, Partner Secret or Finicity-App-Key.

    + Attributes (ErrorMessage)



### ModifyPartnerSecret [PUT]
Change the Partner Secret used to authenticate this partner.

The secret does not expire, but can be changed by calling this API. A valid Partner Secret may contain upper and lowercase characters, numbers, and the characters !, @, #, $, %, &, *, _, -, +. It must include at least one number and at least one letter, and its length should be between 12 and 255 characters.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (PartnerCredentialsWithNewSecret)



+ Response 204 

        The Partner Secret was successfully updated




+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check Partner ID, Partner Secret or Finicity-App-Key.

    + Attributes (ErrorMessage)





# Group Balance Analytics

Balance Analytics for businesses

## Analytics Balance V1 Customer [/analytics/balance/v1/customer/{customerId}{?reference-number}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GenerateBalanceAnalytics [POST]
Balance Analytics for Business analyzes bank balances over time to report metrics and identify behavior that may indicate risk.

Calculated metrics include:
* Current/available account balances
* Minimum/maximum/average account balances over the requested time
  period and broken down by month

* Daily ending balance of accounts for each day in the requested time
  period

* Propensity of the customer's account balances to increase week over
  week

* Number of days in the requested time period ending with a negative
  balance


This version of the API is intended for piloting and integration testing your application with the Balance Analytics product. It does not adhere to FCRA requirements, and should not be used for production/lending purposes. See _Generate Balance Analytics - FCRA_ for the FCRA compliant version of this API.

A successful call to this API will generate analytics and store a report within Finicity. The report can be retrieved via _Get Balance Analytics Report_ (operation: _GetObbAnalyticsReport_).

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + reference-number (string, optional)

        Partner-provided reference number to correlate reports.

        + Sample: abc123

+ Request (<<Add Header Value>>)

    + Attributes (BalanceAndCashFlowAnalyticsReportConstraints)



+ Response 200 (application/json)

        Response given when balance analytics were generated successfully, providing the caller with a report ID which can be used to retrieve the report as JSON or a PDF.

    + Attributes (BalanceAndCashFlowAnalyticsReportAck)


    + Body

            {"accountIds":[10001,10002,10003],"businessId":123,"createdDate":"2022-02-10T05:00:00-07:00","customerId":10001,"reportId":"145cabe0-2b38-4175-9b7e-115431359839","reportPin":"qert","requesterName":"Mortage ABC LLC","title":"Finicity Balance Analytics"}


+ Response 400 (application/json)

        A bad request was provided

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":400,"message":"Missing required parameter 'customerId'"}


+ Response 401 (application/json)

        Unauthorized request

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":401,"message":"Invalid Finicity-App-Key"}


+ Response 403 (application/json)

        Access forbidden

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":403,"message":"Partner does not have access to this resource"}


+ Response 404 (application/json)

        Resource not found

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":404,"message":"Customer not found"}


+ Response 409 (application/json)

        Resource conflict

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":409,"message":"Customer is not registered as a business"}



## Analytics Balance V1 Customer Fcra [/analytics/balance/v1/customer/{customerId}/fcra{?reference-number}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GenerateBalanceAnalyticsFcra [POST]
Balance Analytics for Business analyzes bank balances over time to report metrics and identify behavior that may indicate risk.

Calculated metrics include:
* Current/available account balances
* Minimum/maximum/average account balances over the requested time
  period and broken down by month

* Daily ending balance of accounts for each day in the requested time
  period

* Propensity of the customer's account balances to increase week over
  week

* Number of days in the requested time period ending with a negative
  balance


This version of the API is intended for production use. It maintains and enforces all compliance with FCRA rules and requirements.

*Note:* this is a premium service, billable per every successful API call for non-testing customers.

A successful call to this API will generate analytics and store a report within Finicity. The report can be retrieved via _Get Balance Analytics Report - FCRA_ (operation: _GetObbAnalyticsReportFCRA_).

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + reference-number (string, optional)

        Partner-provided reference number to correlate reports.

        + Sample: abc123

+ Request (<<Add Header Value>>)

    + Attributes (BalanceAndCashFlowAnalyticsReportConstraints)



+ Response 200 (application/json)

        Response given when balance analytics (FCRA) were generated successfully, providing the caller with a report ID which can be used to retrieve the report as JSON or a PDF.

    + Attributes (BalanceAndCashFlowAnalyticsReportAck)


    + Body

            {"accountIds":[10001,10002,10003],"businessId":123,"createdDate":"2022-02-10T05:00:00-07:00","customerId":10001,"reportId":"145cabe0-2b38-4175-9b7e-115431359839","reportPin":"qert","requesterName":"Mortage ABC LLC","title":"Finicity Balance Analytics"}


+ Response 400 (application/json)

        A bad request was provided

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":400,"message":"Missing required parameter 'customerId'"}


+ Response 401 (application/json)

        Unauthorized request

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":401,"message":"Invalid Finicity-App-Key"}


+ Response 403 (application/json)

        Access forbidden

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":403,"message":"Partner does not have access to this resource"}


+ Response 404 (application/json)

        Resource not found

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":404,"message":"Customer not found"}


+ Response 409 (application/json)

        Resource conflict

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":409,"message":"Customer is not registered as a business"}



## Analytics Data V1 By Obb Report Id [/analytics/data/v1/{obb_report_id}]

+ Parameters
    + obb_report_id (string, required)

        Report ID generated and returned by OBB products

        + Sample: bcab9592-e032-4e7b-b737-0380619a0573

### GetObbAnalyticsReport [GET]
Retrieve the report saved by _Generate Balance Analytics_ or _Generate Cash Flow Analytics_. Requires the report ID generated by the previous call.

Report data can either be retrieved as a JSON document or PDF file.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        OBB Analytics report data as JSON or PDF

    + Attributes (GetObbAnalyticsReportResponse)



+ Response 200 (application/pdf)

        OBB Analytics report data as JSON or PDF

    + Attributes (string)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Analytics Data V1 Fcra By Obb Report Id [/analytics/data/v1/{obb_report_id}/fcra{?purpose}]

+ Parameters
    + obb_report_id (string, required)

        Report ID generated and returned by OBB products

        + Sample: bcab9592-e032-4e7b-b737-0380619a0573

### GetObbAnalyticsReportFcra [GET]
Retrieve the report saved by _Generate Balance Analytics - FCRA_ or _Generate Cash Flow Analytics - FCRA_. Requires the report ID generated by the previous call.

Report data can either be retrieved as a JSON document or PDF file.

*Note:* this is a premium service, billable per every successful API call for non-testing customers.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + purpose (string, required)

        2-digit code from [Permissible Purpose Codes](https://docs.finicity.com/permissible-purpose-codes/), specifying the reason for retrieving this report. Required for retrieving some reports.


+ Response 200 (application/json)

        OBB Analytics FCRA report data as JSON or PDF

    + Attributes (GetObbAnalyticsReportFcraResponse)



+ Response 200 (application/pdf)

        OBB Analytics FCRA report data as JSON or PDF

    + Attributes (string)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)





# Group Bank Statements

Fetch account statements and generate reports asynchronously

## Aggregation V1 Customers Accounts Statement [/aggregation/v1/customers/{customerId}/accounts/{accountId}/statement{?index,type}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + accountId (string, required)

        The account ID

        + Sample: 5011648377

### GetCustomerAccountStatement [GET]
Retrieve the customer's bank statements in PDF format. Up to 24 months of history is available depending on the financial institution. Since this is a premium service, charges incur per each successful statement retrieved. 

For certified financial institutions, statements are available for the following account types:
* Checking
* Savings
* Money market
* CDs
* Investments
* Mortgage
* Credit cards
* Loans
* Line of credit
* Student Loans

Note: setting the timeout to 180 seconds is recommended to allow enough time for a response.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + index (number, optional) -

        Request statements from 1-24. By default, 1 is the most recent statement. Increase the index value to count back (by month) and retrieve its most recent statement.

        + Default: 1
        + Sample: 1
    + type (string, optional)

        The type of statement to retrieve

        + Sample: taxStatement

+ Response 200 (application/octet-stream)

        The statement was successfully downloaded as a PDF file




+ Response 203 

        The response contains an MFA challenge in XML or JSON format. Contact your Account Manager or Systems Engineers to determine the best route to handle this error.




+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Decisioning V2 Customers Statement [/decisioning/v2/customers/{customerId}/statement{?callbackUrl}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GenerateStatementReport [POST]
Generate a Statement Report report for the given accounts under the given customer.

This is a premium service. A billable event will be created upon the successful generation of the Statement Report. 

Before calling this API, a consumer must be created for the given customer ID (see Consumers APIs).

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + callbackUrl (string, optional)

        A Report Listener URL to receive notifications. The webhook must respond to the Finicity API with a 2xx HTTP status code.

        + Sample: https://finicity-test/webhook

+ Request (application/json)

    + Attributes (StatementReportConstraints)


    + Body

            {
                "statementReportData": {
                    "accountId": 1000076901,
                    "index": 1
                },
                "reportCustomFields": [
                    {
                        "label": "loanID",
                        "value": "123456",
                        "shown": true
                    }
                ]
            }


+ Response 202 (application/json)

        The report is being generated. When finished, a notification will be sent to the specified callback URL (Report Listener Service) and the report can be fetched using Get Report APIs. If you don't use a callback URL, Get Report returns a minimal report with the following status: 'inProgress'. Repeat the call every 20 seconds until Get Report returns a different status.

    + Attributes (StatementReportAck)


    + Body

            {"id":"38dknche83oh-statement","portfolioId":"sy7aa68w2ugx-1-port","customerType":"active","customerId":1010560999,"requestId":"ny7x32stfq","requesterName":"Demo","createdDate":1596226182,"title":"Finicity Statement Report","consumerId":"555595ec74c8ec57adf44dadddb6a35","consumerSsn":"1234","constraints":{"statementReportData":{"accountId":1000076901,"index":1},"reportCustomFields":[{"label":"loanID","value":"123456","shown":true}]},"type":"statement","status":"inProgress"}


+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)





# Group Cash Flow

Generate cash flow reports asynchronously

## Decisioning V2 Customers CashFlowBusiness [/decisioning/v2/customers/{customerId}/cashFlowBusiness{?callbackUrl}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GenerateCashFlowBusinessReport [POST]
Generate a Cash Flow Report (Business) report for all checking and savings under the given customer. This service retrieves up to two years of transaction history for the given account. It then uses this information to generate the CFR report. A consumer is not required to generate this report.

This report is not provided under FCRA rules, and this report is not available in the Finicity Consumer Portal for the borrower to view.

If no account type of checking or savings is found, the service will return HTTP 400 Bad Request.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + callbackUrl (string, optional)

        A Report Listener URL to receive notifications. The webhook must respond to the Finicity API with a 2xx HTTP status code.

        + Sample: https://finicity-test/webhook

+ Request (application/json)

    + Attributes (CashFlowReportConstraints)


    + Body

            {
                "accountIds": "1000535275",
                "incomeStreamConfidenceMinimum": 50,
                "reportCustomFields": [
                    {
                        "label": "loanID",
                        "value": "12345",
                        "shown": true
                    },
                    {
                        "label": "trackingID",
                        "value": "5555",
                        "shown": true
                    },
                    {
                        "label": "loanType",
                        "value": "car",
                        "shown": false
                    },
                    {
                        "label": "vendorID",
                        "value": "1613aa23",
                        "shown": true
                    },
                    {
                        "label": "vendorName",
                        "value": "PSC Finance",
                        "shown": false
                    }
                ],
                "showNsf": false,
                "fromDate": 1580558400
            }


+ Response 202 (application/json)

        The report is being generated. When finished, a notification will be sent to the specified callback URL (Report Listener Service) and the report can be fetched using Get Report APIs. If you don't use a callback URL, Get Report returns a minimal report with the following status: 'inProgress'. Repeat the call every 20 seconds until Get Report returns a different status.

    + Attributes (CashFlowReportAck)


    + Body

            {"id":"383z55zudewm-cfrb","customerType":"active","customerId":1275320,"requestId":"7a7qyps2iy","requesterName":"Decisioning API","createdDate":1579819592,"title":"Finicity Cash Flow Report - Business","consumerId":"3f7ff2cf0ffb3d0cd59875e070c9b1d4","consumerSsn":"1234","constraints":{"accountIds":["1000535275"],"reportCustomFields":[{"label":"loanID","value":"12345","shown":true},{"label":"trackingID","value":"5555","shown":true},{"label":"loanType","value":"car","shown":false},{"label":"vendorID","value":"1613aa23","shown":true},{"label":"vendorName","value":"PSC Finance","shown":false}]},"type":"cfrb","status":"inProgress"}


+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Decisioning V2 Customers CashFlowPersonal [/decisioning/v2/customers/{customerId}/cashFlowPersonal{?callbackUrl}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GenerateCashFlowPersonalReport [POST]
Generate a Cash Flow Report (Personal) report for all checking and savings under the given customer. This service retrieves up to two years of transaction history for the given account. It then uses this information to generate the CFR report.

This report is provided under FCRA rules, with Finicity acting as the CRA (Consumer Reporting Agency). If an individual account is included in the report - for example, with an individual acting as an personal guarantor on the loan - then this version of the report should be used. In case of an adverse action on the loan where the decision was based on this report, then the borrower can be referred to the [Finicity Consumer Portal](https://consumer.finicityreports.com) where they can view this report and submit a dispute if they feel any information in this report is inaccurate.

Before calling this API, a consumer must be created for the given customer ID (see Consumers APIs).

If no account type of checking or savings is found, the service will return HTTP 400 Bad Request.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + callbackUrl (string, optional)

        A Report Listener URL to receive notifications. The webhook must respond to the Finicity API with a 2xx HTTP status code.

        + Sample: https://finicity-test/webhook

+ Request (application/json)

    + Attributes (CashFlowReportConstraints)


    + Body

            {
                "accountIds": "1000535275",
                "incomeStreamConfidenceMinimum": 50,
                "reportCustomFields": [
                    {
                        "label": "loanID",
                        "value": "12345",
                        "shown": true
                    },
                    {
                        "label": "trackingID",
                        "value": "5555",
                        "shown": true
                    },
                    {
                        "label": "loanType",
                        "value": "car",
                        "shown": false
                    },
                    {
                        "label": "vendorID",
                        "value": "1613aa23",
                        "shown": true
                    },
                    {
                        "label": "vendorName",
                        "value": "PSC Finance",
                        "shown": false
                    }
                ],
                "showNsf": false,
                "fromDate": 1580558400
            }


+ Response 202 (application/json)

        The report is being generated. When finished, a notification will be sent to the specified callback URL (Report Listener Service) and the report can be fetched using Get Report APIs. If you don't use a callback URL, Get Report returns a minimal report with the following status: 'inProgress'. Repeat the call every 20 seconds until Get Report returns a different status.

    + Attributes (CashFlowReportAck)


    + Body

            {"id":"383z51zurqwo-cfrp","customerType":"active","customerId":1275320,"requestId":"7a7qyps2iy","requesterName":"Decisioning API","createdDate":1579819592,"title":"Finicity Cash Flow Report - Personal","consumerId":"3f7ff2cf0ffb3d0cd59875e070c9b1d4","consumerSsn":"1234","constraints":{"accountIds":["1000535275"],"reportCustomFields":[{"label":"loanID","value":"12345","shown":true},{"label":"trackingID","value":"5555","shown":true},{"label":"loanType","value":"car","shown":false},{"label":"vendorID","value":"1613aa23","shown":true},{"label":"vendorName","value":"PSC Finance","shown":false}]},"type":"cfrp","status":"inProgress"}


+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)





# Group Cash Flow Analytics

Cash Flow Analytics for business

## Analytics Cashflow V1 Customer [/analytics/cashflow/v1/customer/{customerId}{?reference-number}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GenerateCashFlowAnalytics [POST]
Cash Flow Analytics for Business analyzes cash flow over time to report metrics and identify behavior that may indicate risk.

Calculated metrics include:
* Average transaction value by month over the requested time period
* Net cash flow over the requested time period and broken down by month
* Count and report of weeks in the requested time period where there
  were zero transactions posted to the customer's accounts

* Minimum/maximum/average/sum/count of deposits by month
* Minimum/maximum/average/sum/count of withdrawals by month
* Estimated amount of deposits that can be classified as business
  revenue

* Number of transactions posted incurring a non-sufficient funds (NSF)
  fee, and net amount charged in NSF fees


This version of the API is intended for piloting and integration testing your application with the Cash Flow Analytics product. It does not adhere to FCRA requirements, and should not be used for production/lending purposes. See _Generate Cash Flow Analytics - FCRA_ for the FCRA compliant version of this API.

A successful call to this API will generate analytics and store a report within Finicity. The report can be retrieved via _Get Cash Flow Analytics Report_ (operation: _GetCashFlowAnalyticsReport_).

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + reference-number (string, optional)

        Partner-provided reference number to correlate reports.

        + Sample: abc123

+ Request (<<Add Header Value>>)

    + Attributes (BalanceAndCashFlowAnalyticsReportConstraints)



+ Response 200 (application/json)

        Response given when cash flow analytics were generated successfully, providing the caller with a report ID which can be used to retrieve the report as JSON or a PDF.

    + Attributes (BalanceAndCashFlowAnalyticsReportAck)


    + Body

            {"accountIds":[10001,10002,10003],"businessId":123,"createdDate":"2022-02-10T05:00:00-07:00","customerId":10001,"reportId":"145cabe0-2b38-4175-9b7e-115431359839","reportPin":"qert","requesterName":"Mortage ABC LLC","title":"Finicity Cashflow Analytics"}


+ Response 400 (application/json)

        A bad request was provided

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":400,"message":"Missing required parameter 'customerId'"}


+ Response 401 (application/json)

        Unauthorized request

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":401,"message":"Invalid Finicity-App-Key"}


+ Response 403 (application/json)

        Access forbidden

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":403,"message":"Partner does not have access to this resource"}


+ Response 404 (application/json)

        Resource not found

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":404,"message":"Customer not found"}


+ Response 409 (application/json)

        Resource conflict

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":409,"message":"Customer is not registered as a business"}



## Analytics Cashflow V1 Customer Fcra [/analytics/cashflow/v1/customer/{customerId}/fcra{?reference-number}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GenerateCashFlowAnalyticsFcra [POST]
Cash Flow Analytics for Business analyzes cash flow over time to report metrics and identify behavior that may indicate risk.

Calculated metrics include:
* Average transaction value by month over the requested time period
* Net cash flow over the requested time period and broken down by month
* Count and report of weeks in the requested time period where there
  were zero transactions posted to the customer's accounts

* Minimum/maximum/average/sum/count of deposits by month
* Minimum/maximum/average/sum/count of withdrawals by month
* Estimated amount of deposits that can be classified as business
  revenue

* Number of transactions posted incurring a non-sufficient funds (NSF)
  fee, and net amount charged in NSF fees


This version of the API is intended for production use. It maintains and enforces all compliance with FCRA rules and requirements.

*Note:* this is a premium service, billable per every successful API call for non-testing customers.

A successful call to this API will generate analytics and store a report within Finicity. The report can be retrieved via _Get Cash Flow Analytics Report - FCRA_ (operation: _GetCashFlowAnalyticsReportFCRA_).

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + reference-number (string, optional)

        Partner-provided reference number to correlate reports.

        + Sample: abc123

+ Request (<<Add Header Value>>)

    + Attributes (BalanceAndCashFlowAnalyticsReportConstraints)



+ Response 200 (application/json)

        Response given when cash flow analytics (FCRA) were generated successfully, providing the caller with a report ID which can be used to retrieve the report as JSON or a PDF.

    + Attributes (BalanceAndCashFlowAnalyticsReportAck)


    + Body

            {"accountIds":[10001,10002,10003],"businessId":123,"createdDate":"2022-02-10T05:00:00-07:00","customerId":10001,"reportId":"145cabe0-2b38-4175-9b7e-115431359839","reportPin":"qert","requesterName":"Mortage ABC LLC","title":"Finicity Cashflow Analytics"}


+ Response 400 (application/json)

        A bad request was provided

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":400,"message":"Missing required parameter 'customerId'"}


+ Response 401 (application/json)

        Unauthorized request

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":401,"message":"Invalid Finicity-App-Key"}


+ Response 403 (application/json)

        Access forbidden

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":403,"message":"Partner does not have access to this resource"}


+ Response 404 (application/json)

        Resource not found

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":404,"message":"Customer not found"}


+ Response 409 (application/json)

        Resource conflict

    + Attributes (ObbErrorMessage)


    + Body

            {"errorCode":409,"message":"Customer is not registered as a business"}




# Group Connect 🔗

Allow customers to log into their financial institutions and grant Finicity authorization

## Connect V2 Generate [/connect/v2/generate]

### GenerateConnectUrl [POST]
Generate a Connect 2.0 URL link to add within your own applications.

In option, use the `experience` parameter to call Connect (per session) in the body of the request. Configure the `experience` parameter to change the brand color, logo, icon, which credit decisioning report to generate when the Connect application completes, and more.

Note: contact your Sales Account Team to set up the `experience` parameter.

MVS Developers: You can pre-populate the consumer's SSN on the "Find employment records" page at the beginning of the MVS payroll app. Pass the SSN value for the consumer in the body of the request call.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (ConnectParameters)



+ Response 200 (application/json)

        The URL link was successfully generated

    + Attributes (ConnectUrl)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)




## Connect V2 Generate Lite [/connect/v2/generate/lite]

### GenerateLiteConnectUrl [POST]
Connect Lite is a variation of Connect Full (`POST /connect/v2/generate`), which has a limited set of features.
* Sign in, user's credentials, and Multi-Factor Authentication (MFA)
* No user account management

The Connect Web SDK isn't a requirement when using Connect lite. However, if you want to use the SDK events, routes, and user events, then you must integrate with the Connect Web SDK.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (LiteConnectParameters)



+ Response 200 (application/json)

        The URL link was successfully generated

    + Attributes (ConnectUrl)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)




## Connect V2 Generate Fix [/connect/v2/generate/fix]

### GenerateFixConnectUrl [POST]
Use the Connect Fix API when the following conditions occur:
* The connection to the user's financial institution is lost
* The user's credentials were updated (for any number of reasons)
* The user's MFA challenge has expired

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (FixConnectParameters)



+ Response 200 (application/json)

        The URL link was successfully generated

    + Attributes (ConnectUrl)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Connect V2 Send Email [/connect/v2/send/email]

### SendConnectEmail [POST]
Same as Connect Full (`POST /connect/v2/generate`) but send a Connect email to a consumer.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (ConnectEmailParameters)



+ Response 200 (application/json)

        The URL link was successfully generated and the email sent

    + Attributes (ConnectEmailUrl)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)




## Connect V2 Generate JointBorrower [/connect/v2/generate/jointBorrower]

### GenerateJointBorrowerConnectUrl [POST]
Same as Connect Full (`POST /connect/v2/generate`) but for joint borrowers.

MVS prompts both the primary and joint borrower to enter each of their financial, payroll, and paystub information in the same Connect session.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (ConnectJointBorrowerParameters)



+ Response 200 (application/json)

        The URL link was successfully generated

    + Attributes (ConnectUrl)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)




## Connect V2 Send Email JointBorrower [/connect/v2/send/email/jointBorrower]

### SendJointBorrowerConnectEmail [POST]
Same as Connect Joint Borrower (`POST /connect/v2/generate/jointBorrower`) but send a Connect email  to at least one of the joint borrower's email addresses. 

When the consumer opens the email, MVS prompts both the primary and joint borrower to enter each of their financial, payroll, and paystub information in the same Connect session.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (ConnectJointBorrowerEmailParameters)



+ Response 200 (application/json)

        The URL link was successfully generated and the email sent

    + Attributes (ConnectEmailUrl)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)





# Group Consumers

Create and manage consumers associated with customers in order to use report services

## Decisioning V1 Customers Consumer [/decisioning/v1/customers/{customerId}/consumer]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### CreateConsumer [POST]
Create a consumer record associated with the given customer. A consumer persists as the owner of any reports that are generated, even after the original customer is deleted from the system.

A consumer must be created for the given customer before calling any of the Generate Report services.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (NewConsumer)



+ Response 201 (application/json)

        The consumer was successfully created

    + Attributes (CreatedConsumer)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)



+ Response 409 (application/json)

        The resource already exists

    + Attributes (ErrorMessage)



### GetConsumerForCustomer [GET]
Get the details of a consumer record by customer ID.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The consumer was successfully retrieved

    + Attributes (Consumer)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Decisioning V1 Consumers By ConsumerId [/decisioning/v1/consumers/{consumerId}]

+ Parameters
    + consumerId (string, required)

        The consumer ID

        + Sample: 0bf46322c167b562e6cbed9d40e19a4c

### GetConsumer [GET]
Get the details of a consumer record by consumer ID.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The consumer was successfully retrieved

    + Attributes (Consumer)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)



### ModifyConsumer [PUT]
Modify an existing consumer. All fields are required for a consumer record, but individual fields for this call are optional because fields that are not specified will be left unchanged.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (ConsumerUpdate)



+ Response 204 

        The consumer was successfully updated




+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)





# Group Customers

Enroll and manage customers

## Aggregation V2 Customers Testing [/aggregation/v2/customers/testing]

### AddTestingCustomer [POST]
Enroll a testing customer ([Test Drive](https://signup.finicity.com/) accounts).

For using testing customers with FinBank OAuth, you must register a test application with your systems engineer or account manager. Then, use that testing `applicationId` when creating testing customers.

Testing Customers can access FinBank profiles (except "FinBank Billable" profiles), and cannot access live financial institutions.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (NewCustomer)



+ Response 201 (application/json)

        The customer was successfully created

    + Attributes (CreatedCustomer)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)




## Aggregation V2 Customers Active [/aggregation/v2/customers/active]

### AddCustomer [POST]
Enroll an active customer, which is the actual owner of one or more real-world accounts. This is a billable customer.

Active customers must use the "FinBank Billable" profiles for testing purposes. 

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (NewCustomer)



+ Response 201 (application/json)

        The customer was successfully created

    + Attributes (CreatedCustomer)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 429 

        The service can't accept more requests or is not available from the [Test Drive](https://signup.finicity.com/).





## Aggregation V1 Customers [/aggregation/v1/customers{?username,type,search,start,limit}]

### GetCustomers [GET]
Find all customers enrolled by the current partner, where the search text is found in the customer's username or any combination of `firstName` and `lastName` fields. If no search text is provided, all customers will be returned.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + username (string, optional)

        Username for exact match (will return 0 or 1 record)

        + Sample: customerusername1
    + type (string, optional)

        "testing" or "active" to return only customers of that type, or leave empty to return all customers

        + Sample: active
    + search (string, optional)

        The text you wish to match. Leave this empty if you wish to return all customers. Must be URL-encoded (see: [Handling Spaces in Queries](https://docs.finicity.com/endpoint-syntax-and-format/)).

        + Sample: searchvalue
    + start (number, optional) -

        Index of the page of results to return

        + Default: 1
        + Sample: 1
    + limit (number, optional) -

        Maximum number of results per page

        + Default: 25
        + Sample: 25

+ Response 200 (application/json)

        Customers were successfully retrieved

    + Attributes (Customers)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)




## Aggregation V1 Customers Application [/aggregation/v1/customers/{customerId}/application]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GetCustomerWithAppData [GET]
Retrieve a customer along with additional details about the OAuth application.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The customer was successfully retrieved

    + Attributes (CustomerWithAppData)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V1 Customers By CustomerId [/aggregation/v1/customers/{customerId}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GetCustomer [GET]
Retrieve a customer by ID.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The customer was successfully retrieved

    + Attributes (Customer)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)



### ModifyCustomer [PUT]
Modify an enrolled customer by ID.

You must specify either `firstName`, `lastName`, or both in the request.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (CustomerUpdate)



+ Response 204 

        The customer was successfully updated




+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)



### DeleteCustomer [DELETE]
Completely remove a customer from the system. This will remove the customer and all associated accounts and transactions.

⚠️ Use this service carefully! It will not pause for confirmation before performing the operation!

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 204 

        The customer was successfully deleted




+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)





# Group Institutions

Search and fetch financial institutions

## Institution V2 CertifiedInstitutions Rssd [/institution/v2/certifiedInstitutions/rssd{?search,start,limit,type}]

### GetCertifiedInstitutionsWithRSSD [GET]
Search for certified financial institutions w/RSSD.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + search (string, optional)

        Search term (financial institution `name` field). Leave empty for all FIs.

        + Sample: finbank
    + start (number, optional) -

        Index of the page of results to return

        + Default: 1
        + Sample: 1
    + limit (number, optional) -

        Maximum number of results per page

        + Default: 25
        + Sample: 25
    + type (string, optional)

        A product type: "transAgg", "ach", "stateAgg", "voi", "voa", "aha", "availBalance", "accountOwner"

        + Sample: voa

+ Response 200 (application/json)

        Institutions were successfully retrieved

    + Attributes (CertifiedInstitutions)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)




## Institution V2 Institutions [/institution/v2/institutions{?search,start,limit,type}]

### GetInstitutions [GET]
Search for financial institutions.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + search (string, optional)

        Search term (financial institution `name` field). Leave empty for all FIs.

        + Sample: finbank
    + start (number, optional) -

        Index of the page of results to return

        + Default: 1
        + Sample: 1
    + limit (number, optional) -

        Maximum number of results per page

        + Default: 25
        + Sample: 25
    + type (string, optional)

        A product type: "transAgg", "ach", "stateAgg", "voi", "voa", "aha", "availBalance", "accountOwner"

        + Sample: voa

+ Response 200 (application/json)

        Institutions were successfully retrieved

    + Attributes (Institutions)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)




## Institution V2 CertifiedInstitutions [/institution/v2/certifiedInstitutions{?search,start,limit,type}]

### GetCertifiedInstitutions [GET]
Search for financial institutions by certified product.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + search (string, optional)

        Search term (financial institution `name` field). Leave empty for all FIs.

        + Sample: finbank
    + start (number, optional) -

        Index of the page of results to return

        + Default: 1
        + Sample: 1
    + limit (number, optional) -

        Maximum number of results per page

        + Default: 25
        + Sample: 25
    + type (string, optional)

        A product type: "transAgg", "ach", "stateAgg", "voi", "voa", "aha", "availBalance", "accountOwner"

        + Sample: voa

+ Response 200 (application/json)

        Institutions were successfully retrieved

    + Attributes (CertifiedInstitutions)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)




## Institution V2 Institutions [/institution/v2/institutions/{institutionId}]

+ Parameters
    + institutionId (number, required)

        The institution ID

        + Sample: 4222

### GetInstitution [GET]
Get financial institution details by ID.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        Institution was successfully retrieved

    + Attributes (InstitutionWrapper)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Institution V2 Institutions Branding [/institution/v2/institutions/{institutionId}/branding]

+ Parameters
    + institutionId (number, required)

        The institution ID

        + Sample: 4222

### GetInstitutionBranding [GET]
Return the branding information for a financial institution.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        Institution branding was successfully retrieved

    + Attributes (BrandingWrapper)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)





# Group Pay Statements

Upload pay statements

## Aggregation V1 Customers PayStatements [/aggregation/v1/customers/{customerId}/payStatements]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### StoreCustomerPayStatement [POST]
Upload pay statements for a customer.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (<<Add Header Value>>)

    + Attributes (PayStatement)



+ Response 200 (application/json)

        The pay statement was successfully uploaded

    + Attributes (Asset)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)





# Group Payments

Fetch ACH details and account balances

## Aggregation V1 Customers Accounts Owner [/aggregation/v1/customers/{customerId}/accounts/{accountId}/owner]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + accountId (string, required)

        The account ID

        + Sample: 5011648377

### GetAccountOwner [GET]
Retrieve the names and addresses of the account owner from a financial institution.

Note: this is a premium service, billable per every successful API call.

This service retrieves account data from the institution. This usually returns quickly, but in some scenarios may take a few minutes to complete. In the event of a timeout condition, retry the call.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The account owner was successfully retrieved

    + Attributes (AccountOwner)



+ Response 203 

        The response contains an MFA challenge in XML or JSON format. Contact your Account Manager or Systems Engineers to determine the best route to handle this error.




+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V2 Customers Accounts LoanDetails [/aggregation/v2/customers/{customerId}/accounts/{accountId}/loanDetails]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + accountId (string, required)

        The account ID

        + Sample: 5011648377

### GetLoanPaymentDetails [GET]
Return the loan payment details of the customer for a loan-type account.

Note: this is a premium service, billable per every successful API call.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The loan payment details were successfully retrieved

    + Attributes (LoanPaymentDetails)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V1 Customers Accounts Details [/aggregation/v1/customers/{customerId}/accounts/{accountId}/details]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + accountId (string, required)

        The account ID

        + Sample: 5011648377

### GetAccountACHDetails [GET]
Return the real account number and routing number details for an ACH payment.

Note: this is a premium service, billable per every successful API call.

_Supported account types_: "checking", "savings", "moneyMarket", "loan"

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        Account ACH details were successfully retrieved

    + Attributes (ACHDetails)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V1 Customers Accounts AvailableBalance Live [/aggregation/v1/customers/{customerId}/accounts/{accountId}/availableBalance/live]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + accountId (string, required)

        The account ID

        + Sample: 5011648377

### GetAvailableBalanceLive [GET]
Retrieve the available and cleared account balances for a single account in real-time directly from a financial institution.

Note: this is a premium service, billable per every successful API call.

_Supported account types_: "checking", "savings", "moneyMarket", "cd"

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The live balance was successfully retrieved

    + Attributes (AvailableBalance)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V1 Customers Accounts AvailableBalance [/aggregation/v1/customers/{customerId}/accounts/{accountId}/availableBalance]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + accountId (string, required)

        The account ID

        + Sample: 5011648377

### GetAvailableBalance [GET]
Retrieve the latest cached available and cleared account balances for a customer. Since we update and store balances throughout the day, this is the most accurate balance information available when a connection to a financial institution is unavailable or when a faster response is needed. Only deposit account types are supported: Checking, Savings, Money Market, and CD.

Note: this is a premium service, billable per every successful API call. Enrollment is required.        

_Supported account types_: "checking", "savings", "moneyMarket", "cd"

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The balance was successfully retrieved

    + Attributes (AvailableBalance)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)





# Group Portfolios

Generate portfolios of the most recent reports

## Decisioning V1 Customers Portfolios [/decisioning/v1/customers/{customerId}/portfolios/{portfolioId}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + portfolioId (string, required)

        A portfolio ID with the portfolio version number. Using the portfolio number without a version number will return the most recently generated reports.

        + Sample: y4zsgccj4xpw-6-port

### GetPortfolioByCustomer [GET]
Return a portfolio of most recently generated reports for each report type for the given customer. If there are multiple reports that were generated for a report type (VOA, VOI, etc.), only the most recently generated report for the type will be returned.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The portfolio was successfully retrieved

    + Attributes (PortfolioSummary)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Decisioning V1 Consumers Portfolios [/decisioning/v1/consumers/{consumerId}/portfolios/{portfolioId}]

+ Parameters
    + consumerId (string, required)

        The consumer ID

        + Sample: 0bf46322c167b562e6cbed9d40e19a4c
    + portfolioId (string, required)

        A portfolio ID with the portfolio version number. Using the portfolio number without a version number will return the most recently generated reports.

        + Sample: y4zsgccj4xpw-6-port

### GetPortfolioByConsumer [GET]
Return a portfolio of most recently generated reports for each report type for a given consumer. If there are multiple reports that were generated for a report type (VOA, VOI, etc.), only the most recently generated report for the type will be returned.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The portfolio was successfully retrieved

    + Attributes (PortfolioWithConsumerSummary)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)





# Group Reports

Fetch generated reports when ready

## Decisioning V3 Customers Reports [/decisioning/v3/customers/{customerId}/reports/{reportId}{?onBehalfOf,purpose}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + reportId (string, required)

        ID of the report

        + Sample: u4hstnnak45g

### GetReportByCustomer [GET]
Get a report that has been generated by a previous call to one of the Generate Report services.

The report's `status` field contains "inProgress", "failure", or "success". If the status shows "inProgress", the client app should wait 20 seconds and then call this API again.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + onBehalfOf (string, optional)

        The name of the entity you are retrieving the report on behalf of

        + Sample: Some entity
    + purpose (string, optional)

        2-digit code from [Permissible Purpose Codes](https://docs.finicity.com/permissible-purpose-codes/), specifying the reason for retrieving this report. Required for retrieving some reports.

        + Sample: 99

+ Response 200 (application/json)

        The report was successfully retrieved

    + Attributes (Report)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Decisioning V3 Consumers Reports [/decisioning/v3/consumers/{consumerId}/reports/{reportId}{?purpose,onBehalfOf}]

+ Parameters
    + consumerId (string, required)

        The consumer ID

        + Sample: 0bf46322c167b562e6cbed9d40e19a4c
    + reportId (string, required)

        ID of the report

        + Sample: u4hstnnak45g

### GetReportByConsumer [GET]
Get a report that has been generated by a previous call to one of the Generate Report services.

The report's `status` field contains "inProgress", "failure", or "success". If the status shows "inProgress", the client app should wait 20 seconds and then call this API again.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + purpose (string, optional)

        2-digit code from [Permissible Purpose Codes](https://docs.finicity.com/permissible-purpose-codes/), specifying the reason for retrieving this report. Required for retrieving some reports.

        + Sample: 99
    + onBehalfOf (string, optional)

        The name of the entity you are retrieving the report on behalf of

        + Sample: Some entity

+ Response 200 (application/json)

        The report was successfully retrieved

    + Attributes (Report)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Decisioning V1 Customers Reports [/decisioning/v1/customers/{customerId}/reports{?purpose}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GetReportsByCustomerId [GET]
Get all reports that have been generated by previous calls to Generate Report services for the given customer.

The `status` fields in the returned list contain "inProgress", "failure", or "success". If the status shows "inProgress", the client app should wait 20 seconds and then call this API again.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + purpose (string, optional)

        2-digit code from [Permissible Purpose Codes](https://docs.finicity.com/permissible-purpose-codes/), specifying the reason for retrieving this report. Required for retrieving some reports.

        + Sample: 99

+ Response 200 (application/json)

        The reports summaries were successfully retrieved

    + Attributes (ReportSummaries)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)



+ Response 429 

        The service can't accept more requests or is not available from the [Test Drive](https://signup.finicity.com/).





## Decisioning V1 Consumers Reports [/decisioning/v1/consumers/{consumerId}/reports{?purpose}]

+ Parameters
    + consumerId (string, required)

        The consumer ID

        + Sample: 0bf46322c167b562e6cbed9d40e19a4c

### GetReportsByConsumerId [GET]
Get all reports that have been generated by previous calls to Generate Report services for the given consumer.

The `status` fields in the returned list contain "inProgress", "failure", or "success". If the status shows "inProgress", the client app should wait 20 seconds and then call this API again.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + purpose (string, optional)

        2-digit code from [Permissible Purpose Codes](https://docs.finicity.com/permissible-purpose-codes/), specifying the reason for retrieving this report. Required for retrieving some reports.

        + Sample: 99

+ Response 200 (application/json)

        The reports summaries were successfully retrieved

    + Attributes (ReportSummaries)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)



+ Response 429 

        The service can't accept more requests or is not available from the [Test Drive](https://signup.finicity.com/).






# Group Transactions

Fetch customer and account transactions and generate reports asynchronously

## Aggregation V1 Customers Accounts Transactions Historic [/aggregation/v1/customers/{customerId}/accounts/{accountId}/transactions/historic]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + accountId (string, required)

        The account ID

        + Sample: 5011648377

### LoadHistoricTransactionsForCustomerAccount [POST]
Connect to the account's financial institution and load up to 24 months of historic transactions for the account. Length of history varies by institution.

This is a premium service. The billable event is a call to this service specifying a customer ID that has not been seen before by this service. (If this service is called multiple times with the same customer ID, to load transactions from multiple accounts, only one billable event has occurred.)

The recommended timeout setting for this request is 180 seconds in order to receive a response. However, you can terminate the connection after making the call the operation will still complete. You will have to pull the account records to check for an updated aggregation attempt date to know when the refresh is complete.

The date range sent to the institution is calculated from the account's `createdDate`. This means that calling this service a second time for the same account normally will not add any new transactions for the account. For this reason, a second call to this service for a known account ID will usually return immediately.

In a few specific scenarios, it may be desirable to force a second connection to the institution for a known account ID. Some examples are:

* The institution's policy has changed, making more transactions available
* Finicity has now added a longer transaction history support for the institution
* The first call encountered an error, and the resulting Aggregation Ticket has now been fixed by the Finicity Support Team

In these cases, the POST request can contain the parameter `force=true` in the request body to force the second connection.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Request (application/json)

    + Attributes (string)



+ Response 203 

        The response contains an MFA challenge in XML or JSON format. Contact your Account Manager or Systems Engineers to determine the best route to handle this error.




+ Response 204 

        Historic transactions have been loaded successfully. The transactions are now available by calling the Get Customer Account Transactions API.




+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V3 Customers Transactions [/aggregation/v3/customers/{customerId}/transactions{?fromDate,toDate,start,limit,sort,includePending}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234

### GetAllCustomerTransactions [GET]
Get all transactions available for this customer within the given date range, across all accounts. This service supports paging and sorting by `transactionDate` (or `postedDate` if no transaction date is provided), with a maximum of 1000 transactions per request.

Standard consumer aggregation provides up to 180 days of transactions prior to the date each account was added to the Finicity system. To access older transactions, you must first call the service Load Historic Transactions for Account.

There is no limit for the size of the window between `fromDate` and `toDate`, however, the maximum number of transactions returned on one page is 1000.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + fromDate (number, required)

        A start date

        + Sample: 1607450357
    + toDate (number, required)

        A end date

        + Sample: 1607450357
    + start (number, optional) -

        Index of the page of results to return

        + Default: 1
        + Sample: 1
    + limit (number, optional) -

        Maximum number of results per page

        + Default: 25
        + Sample: 25
    + sort (string, optional) -

        Date sort order: "asc" for ascending, "desc" for descending

        + Default: desc
        + Sample: desc
    + includePending (boolean, optional) -

        If pending transactions must be included

        + Default: false
        + Sample: false

+ Response 200 (application/json)

        The transactions were successfully retrieved

    + Attributes (Transactions)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V2 Customers Transactions [/aggregation/v2/customers/{customerId}/transactions/{transactionId}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + transactionId (number, required)

        A transaction ID

        + Sample: 21284820852

### GetCustomerTransaction [GET]
Get details for the given transaction.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)

+ Response 200 (application/json)

        The transaction was successfully retrieved

    + Attributes (Transaction)



+ Response 400 (application/json)

        The request was rejected

    + Attributes (ErrorMessage)



+ Response 401 (application/json)

        The request lacks valid authentication credentials. Check "Finicity-App-Key" or "Finicity-App-Token".

    + Attributes (ErrorMessage)



+ Response 404 (application/json)

        The resource doesn't exist

    + Attributes (ErrorMessage)




## Aggregation V4 Customers Accounts Transactions [/aggregation/v4/customers/{customerId}/accounts/{accountId}/transactions{?fromDate,toDate,start,limit,sort,includePending}]

+ Parameters
    + customerId (string, required)

        A customer ID

        + Sample: 1005061234
    + accountId (string, required)

        The account ID

        + Sample: 5011648377

### GetCustomerAccountTransactions [GET]
Get all transactions available for this customer account within the given date range. This service supports paging and sorting by `transactionDate` (or `postedDate` if no transaction date is provided), with a maximum of 1000 transactions per request.

Standard consumer aggregation provides up to 180 days of transactions prior to the date each account was added to the Finicity system. To access older transactions, you must first call the Cash Flow Verification service Load Historic Transactions for Account.

There is no limit for the size of the window between `fromDate` and `toDate`, however, the maximum number of transactions returned on one page is 1000.

_Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
+ Parameters
    + fromDate (number, required)

        A start date

        + Sample: 1607450357
    + toDate (number, required)

        A end date

        + Sample: 1607450357
    + start (number, optional) -

        Index of the page of results to return

        + Default: 1
        + Sample: 1
    + limit (number, optional) -

        Maximum number of results per page

        + Default: 25
        + Sample: 25
    + sort (string, optional) -

        Date sort order: "asc" for ascending, "desc" for descending

        + Default: desc
        + Sample: desc
    + includePending (boolean, optional) -

        If pending transactions must be included

        + Default: false
        + Sample: false

+ Response 200 (application/json)

        The transactions were successfully retrieved

    + Attributes (Transactions)



+ Response 400 (application/json)

        The request was rejected

[...]
